.widget {
    &_categories {
        background: $color-primary;
        color: #fff;

        .widget {
            &__title {
                position: relative;
                display: flex;
                height: 64px;
                margin-bottom: 0;
                padding: 0 0.75rem;
                font-weight: bold;
                color: #fff;
                cursor: pointer;

                justify-content: center;

                &:after {
                    display: none;
                }
            }
        }

        & > ul {
            display: block;
            margin: 0;
            padding: 2rem 1rem;
            background-color: $color-grey-darkest;
            list-style: none;

            li {
                display: block;
                margin: 0 0 1rem 0;
                padding: 0;
                list-style: none;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    position: relative;
                    display: block;
                    padding-left: 52px;
                    font-size: 0.875rem;
                    line-height: 1rem;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                        color: $color-red;

                        &:before {
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: block;
                            width: 32px;
                            height: 10px;
                            content: "";

                            @include arrow-image($color-red);
                        }
                    }
                }
            }
        }
    }
}