.widget {
    &_nav_menu {
        padding: 0 0 2rem 0;

        .widget {
            &__title {
                margin-bottom: 0.5rem;

                &:after {
                    display: none;
                }
            }
        }
        ul.menu {
            margin: 0;
            padding: 0.75rem 0;
            list-style: none;
            background-color: $color-primary;
            border: none;

            li.menu-item {
                display: block;
                padding: 0.25rem 1rem;
                margin: 0;
                font-size: 0.9375rem;
                line-height: 0.9375rem;
                transition: all 0.15s ease-out;

                &:hover {
                    background-color: $color-red;

                    a {
                        padding-left: 1.125rem;
                        color: #fff;

                        &:before {
                            left: 4px;
                        }

                        &:after {
                            left: 0;
                            opacity: 1;
                        }
                    }
                }

                a {
                    display: block;
                    position: relative;
                    padding-left: 0.75rem;
                    color: $color-grey-lighter;
                    text-decoration: none;
                    transition: all 0.25s ease-out;

                    &:before,
                    &:after {
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 3px;
                        padding-right: 0.25rem;
                        font-size: 0.6875rem !important;
                        line-height: 0.6875rem !important;
                        font-weight: normal;
                        transition: all 0.25s ease-out;
                        content: $fa-var-chevron-right;

                        @include fa-icon();
                    }

                    &:after {
                        left: -4px;
                        opacity: 0;
                    }
                }
            }
        }
    }
}