.widget {
    &_search {
        .widget {
            &__title {
                display: block;
                margin-bottom: 0.5rem;

                &:after {
                    display: none;
                }
            }
        }

        form {
            display: flex;
            flex-direction: row;
            padding: 1rem;
            background-color: $color-primary;

            label {
                display: block;
                width: 100%;
                margin: 0;
            }

            input[type="search"] {
                display: block;
                width: 100%;
                height: 40px;
                padding: 0 15px;
                background-color: #fff;
                border: 1px #fff solid;
                outline: none;
                font-size: 0.9375rem;
                line-height: 0.9375rem;
                color: $color-primary;
                text-align: center;
                text-transform: uppercase;
            }

            input[type="submit"] {
                width: 50px;
                height: 40px;
                background-color: $color-primary;
                background-size: 19px 20px !important;
                border-top: 1px #fff solid;
                border-right: 1px #fff solid;
                border-bottom: 1px #fff solid;
                border-left: none;
                outline: none;
                font-size: 0;
                line-height: 0;
                cursor: pointer;
                transition: all 0.25s ease-out;

                @include search-icon(#fff);

                &:hover,
                &:focus,
                &:active {
                    background-color: #fff;
                    background-size: 19px 20px !important;
                    border-top: 1px #fff solid;
                    border-right: 1px #fff solid;
                    border-bottom: 1px #fff solid;
                    outline: none;

                    @include search-icon($color-primary);
                }
            }
        }
    }
}