.cta-intro {
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 1rem;
    padding: 1.875rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.55);
        content: "";
    }

    & > * {
        position: relative;
        z-index: 10;
    }

    &__title {
        color: #fff;

        &:after {
            background-color: #fff;
        }
    }

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}