.cta-sbv {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 350px;
    margin-right: -16px;
    margin-left: -16px;
    padding: 50px 75px 0 75px;
    background-image: url(../images/bg-stripes-grey-horiz.png);
    color: #fff;

    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
    justify-content: flex-start;

    @media screen and (max-width: 992px) {
        display: block;
        height: 450px;
        padding: 2rem 1.5rem 2rem 2.5rem;
    }

    @media screen and (max-width: 767px) {
        min-height: 0;
        margin-right: 0;
        margin-left: 0;
        padding: 2rem 2.5rem;

        clip-path: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 1rem;
        color: #fff;

        &:after {
            background-color: $color-grey;
        }
    }

    p {
        color: #fff;
    }

    &__search {
        ul {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: block;
                float: left;
                width: 50%;
                margin: 0;
                padding: 1.125rem 1.375rem;
                list-style: none;

                @media screen and (max-width: 992px) {
                    float: none;
                    width: 100%;
                    padding: 0.75rem 0;
                }

                select {
                    width: 100%;
                    padding: 0.75rem 1.5rem;
                    background-color: #000;
                    border: 1px #000 solid;
                    outline: none;
                    font-size: 0.875rem;
                    font-weight: normal;
                    line-height: 0.875rem;
                    color: #7d7d7d;
                    text-transform: uppercase;

                    -webkit-appearance: textfield;

                    &:active,
                    &:focus {
                        outline: none;
                    }
                }

                .btn {
                    width: 100%;
                    min-width: 0;
                    padding: 0.725rem 0;

                    &.disabled,
                    &:disabled {
                        background-color: transparent;
                        border-color: $color-grey-dark;
                        color: $color-grey-dark;

                        &:hover,
                        &:focus,
                        &:active {
                            background-color: transparent;
                            border-color: $color-grey-dark;
                            color: $color-grey-dark;
                        }
                    }
                }
            }
        }
    }
}