@mixin arrow-image($color) {
    background-image: url("data:image/svg+xml; utf8, <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 96 14\"><g id=\"4477438a-178c-40f4-8fb1-d45516aaadc1\"><line y1=\"7\" x2=\"90.47\" y2=\"7\" fill=\"none\" stroke=\"#{$color}\" stroke-miterlimit=\"10\" stroke-width=\"2\"/></g><g id=\"549ff169-4738-4229-8f26-7454b3c484d2\"><polygon points=\"96 7 86.45 0 86.45 14 96 7\" fill=\"#{$color}\"/></g></svg>");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 36px auto;
}

@mixin chevron-down-image($color) {
    background-image: url("data:image/svg+xml; utf8, <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 20.14 12.5\"><polyline points=\"0.56 0.49 10.07 11.36 19.58 0.49\" fill=\"none\" stroke=\"#{$color}\" stroke-miterlimit=\"10\" stroke-width=\"1.5\"/></svg>");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 21px 13px;
}
