.widget {
    &_sow-image {
        .widget {
            &__title {
                margin-top: 1rem;
                margin-bottom: 1rem;
                font-size: 0.9375rem;
                font-weight: normal;
                line-height: 1rem;
                text-align: center;

                align-items: center;

                &:after {
                    display: none;
                }
            }
        }
    }
}