.widget--tablet-expand {
    .panel-layout {
        &:first-child {
            .panel-grid {
                @media screen and (max-width: 992px) {
                    display: block !important;
                }
            }

            .panel-grid-cell {
                @media screen and (max-width: 992px) {
                    width: 100% !important;
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            }
        }
    }
}