@import url("../vendor/fresco-2.2.2/css/fresco/fresco.css");
@import url("../vendor/slick-carousel/slick/slick.css");
@import url("../vendor/slick-carousel/slick/slick-theme.css");
@import url("../vendor/cookieconsent/build/cookieconsent.min.css");
@import url("../vendor/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css");
footer.site-footer {
  padding: 50px 0;
  background-color: #000; }
  footer.site-footer .copyright {
    display: block;
    font-size: 0.8125rem;
    line-height: 0.8125rem;
    color: #fff;
    text-align: right;
    text-transform: uppercase; }
    @media screen and (max-width: 992px) {
      footer.site-footer .copyright {
        text-align: center; } }
  footer.site-footer hr {
    margin-top: 2.813rem;
    margin-bottom: 2.813rem;
    border-color: #fff; }
    @media screen and (max-width: 992px) {
      footer.site-footer hr {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem; } }
  footer.site-footer .navbar-epilogue {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.8125rem;
    line-height: 0.8125rem; }
    @media screen and (max-width: 992px) {
      footer.site-footer .navbar-epilogue {
        margin-bottom: 1.5rem;
        text-align: center; } }
    footer.site-footer .navbar-epilogue li {
      display: inline-block;
      margin: 0 0 0 0.625rem;
      padding: 0 0 0 0.625rem;
      border-left: 1px #fff solid;
      list-style: none;
      text-transform: uppercase; }
      @media screen and (max-width: 992px) {
        footer.site-footer .navbar-epilogue li:last-child {
          margin-right: 0; } }
      footer.site-footer .navbar-epilogue li a {
        color: #fff;
        text-decoration: none; }
        footer.site-footer .navbar-epilogue li a:hover {
          color: #bbb; }
      footer.site-footer .navbar-epilogue li:first-child {
        margin-left: 0;
        padding-left: 0;
        border-left: none; }
  footer.site-footer .navbar-social {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none; }
    @media screen and (max-width: 992px) {
      footer.site-footer .navbar-social {
        margin-bottom: 1rem;
        text-align: center; } }
    footer.site-footer .navbar-social li {
      position: relative;
      display: inline-block;
      margin: 0 1rem 0 0;
      padding: 0;
      list-style: none; }
      footer.site-footer .navbar-social li:before {
        display: block;
        width: 26px;
        height: 50px;
        font-size: 26px;
        line-height: 50px;
        color: #fff;
        text-align: center; }
      footer.site-footer .navbar-social li a {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 26px;
        height: 50px;
        font-size: 0;
        line-height: 0; }
  footer.site-footer .navbar-brands {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right; }
    @media screen and (max-width: 992px) {
      footer.site-footer .navbar-brands {
        text-align: center; } }
    footer.site-footer .navbar-brands li {
      display: inline-block;
      margin: 0 0.625rem;
      padding: 0;
      list-style: none; }
      footer.site-footer .navbar-brands li:last-child {
        margin-right: 0; }
      @media screen and (max-width: 992px) {
        footer.site-footer .navbar-brands li {
          display: inline-block;
          text-align: center; } }
      footer.site-footer .navbar-brands li a {
        display: block;
        float: left;
        width: 85px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
        font-size: 0;
        line-height: 0;
        image-rendering: -webkit-optimize-contrast; }
        @media screen and (max-width: 992px) {
          footer.site-footer .navbar-brands li a {
            display: block;
            float: none;
            margin: 0 auto; } }
        footer.site-footer .navbar-brands li a[href*="aampglobal.com"] {
          background-image: url(../../../aamp/assets/images/brand-logos/logo-aamp.png); }
        footer.site-footer .navbar-brands li a[href*="pac-audio.com"] {
          background-image: url(../../../aamp/assets/images/brand-logos/logo-pac.png); }
        footer.site-footer .navbar-brands li a[href*="echomaster.com"] {
          background-image: url(../../../aamp/assets/images/brand-logos/logo-echomaster.png); }
        footer.site-footer .navbar-brands li a[href*="isimple.com"] {
          background-image: url(../../../aamp/assets/images/brand-logos/logo-isimple.png); }
        footer.site-footer .navbar-brands li a[href*="phoenixgold.com"] {
          background-image: url(../../../aamp/assets/images/brand-logos/logo-phoenix.png); }
        footer.site-footer .navbar-brands li a[href*="stingerelectronics.com"] {
          background-image: url(../../../aamp/assets/images/brand-logos/logo-stinger.png); }
        footer.site-footer .navbar-brands li a[href*="autoleads.co.uk"] {
          background-image: url(../../../aamp/assets/images/brand-logos/logo-autoleads.png); }

.sbv {
  display: flex;
  padding: 1.5rem;
  background: #fff;
  color: #000; }
  .sbv .widget__title {
    margin-bottom: 0;
    margin-left: 1.5rem; }
  .sbv__form {
    width: 80%; }
  .sbv__photo {
    position: relative;
    width: 20%;
    max-height: 150px;
    border: 1px #000 solid; }
    .sbv__photo:before {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      padding: 0 1rem;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1rem;
      color: #000;
      text-align: center;
      text-transform: uppercase;
      align-items: center;
      justify-content: center; }
    .sbv__photo--select:before {
      content: "Select a vehicle"; }
    .sbv__photo--no-image:before {
      content: "No image found for the selected vehicle"; }
    .sbv__photo--display:before {
      content: ""; }
    .sbv__photo--display .sbv__photo-inner {
      visibility: visible;
      opacity: 1; }
    .sbv__photo-inner {
      display: block;
      visibility: hidden;
      width: 100%;
      height: 100%;
      margin-right: 1.5rem;
      opacity: 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      transition: all 0.25s ease-out; }
  .sbv__fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .sbv__fields--loading-make .sbv__field[data-field-type="make"]:before {
      display: block; }
    .sbv__fields--loading-model .sbv__field[data-field-type="model"]:before {
      display: block; }
    .sbv__fields--loading-year .sbv__field[data-field-type="year"]:before {
      display: block; }
    .sbv__fields--loading-trim .sbv__field[data-field-type="trim"]:before {
      display: block; }
  .sbv__field {
    position: relative;
    width: 50%;
    margin-top: 1.5rem;
    padding-left: 1.5rem; }
    .sbv__field:before {
      position: absolute;
      right: 3px;
      bottom: 3px;
      display: none;
      width: 36px;
      height: 36px;
      background-color: #fff;
      background-image: url(../images/loaders/small.gif);
      background-repeat: no-repeat;
      background-position: center center;
      content: ""; }
    .sbv__field[data-field-type="button"] .btn {
      width: 100%;
      height: 42px;
      padding-top: 0;
      padding-bottom: 0; }
    .sbv__field label {
      position: absolute;
      z-index: 100;
      top: -0.25rem;
      display: block;
      margin-left: 0.5rem;
      padding: 0 0.375rem;
      background: #fff;
      font-size: 0.75rem;
      font-weight: bold;
      line-height: 0.75rem;
      color: #999;
      text-transform: uppercase; }
    .sbv__field select {
      width: 100%;
      height: 42px;
      padding: 0.375rem 0.75rem 0 0.625rem;
      font-size: 0.875rem;
      font-weight: bold;
      line-height: 34px;
      text-transform: uppercase; }
      .sbv__field select:focus, .sbv__field select:active {
        border: 1px #000 solid;
        outline: none;
        box-shadow: none; }
  .sbv--mmy .sbv__field[data-field-type="make"], .sbv--mmy .sbv__field[data-field-type="model"], .sbv--mmy .sbv__field[data-field-type="year"] {
    width: 50%; }
  .sbv--mmy .sbv__field[data-field-type="trim"] {
    display: none; }

.siteorigin-widget-tinymce p:last-child {
  margin-bottom: 0; }

.widget_aamp-vrm-lookup .vrm-vehicle {
  margin-bottom: 1rem;
  padding: 2rem;
  border: 1px #000 solid; }
  .widget_aamp-vrm-lookup .vrm-vehicle__details dl {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none; }
    .widget_aamp-vrm-lookup .vrm-vehicle__details dl dt,
    .widget_aamp-vrm-lookup .vrm-vehicle__details dl dd {
      display: block;
      float: left;
      margin: 0 0 0.5rem 0;
      padding: 0;
      list-style: none; }
    .widget_aamp-vrm-lookup .vrm-vehicle__details dl dt {
      clear: both;
      width: 50%;
      font-weight: normal; }
    .widget_aamp-vrm-lookup .vrm-vehicle__details dl dd {
      width: 50%;
      font-weight: bold;
      color: #000; }
  .widget_aamp-vrm-lookup .vrm-vehicle__photo {
    align-self: flex-end; }
    .widget_aamp-vrm-lookup .vrm-vehicle__photo--empty {
      display: flex;
      height: 200px;
      border: 1px #000 solid;
      color: #000;
      flex-direction: column;
      justify-content: center;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      letter-spacing: 1px; }
  .widget_aamp-vrm-lookup .vrm-vehicle-actual {
    position: relative;
    margin-top: -1rem;
    padding: 1rem 2rem;
    background-color: #000;
    color: #fff;
    font-weight: bold; }
    .widget_aamp-vrm-lookup .vrm-vehicle-actual__fields {
      list-style: none;
      display: block;
      margin: 0;
      padding: 1rem 0;
      overflow: hidden; }
      .widget_aamp-vrm-lookup .vrm-vehicle-actual__fields li {
        display: block;
        float: left;
        margin: 0 1rem 0 0;
        padding: 0;
        min-width: 10%; }
        @media screen and (max-width: 992px) {
          .widget_aamp-vrm-lookup .vrm-vehicle-actual__fields li {
            float: none;
            margin: 0 0 1rem 0; } }
      .widget_aamp-vrm-lookup .vrm-vehicle-actual__fields--label {
        display: block;
        font-size: 0.75rem;
        text-transform: uppercase;
        font-weight: normal;
        line-height: 0.75rem;
        margin-bottom: 0.25rem; }
    .widget_aamp-vrm-lookup .vrm-vehicle-actual p {
      margin-bottom: 0;
      font-weight: normal; }

.widget_aamp-vrm-search .vrm-search {
  padding: 1.5rem 0 1rem 0;
  background-color: #000;
  color: #fff; }
  .widget_aamp-vrm-search .vrm-search .widget__title {
    color: #fff;
    text-align: center;
    align-items: center; }
    .widget_aamp-vrm-search .vrm-search .widget__title:before, .widget_aamp-vrm-search .vrm-search .widget__title:after {
      display: none; }
  .widget_aamp-vrm-search .vrm-search__fields {
    display: flex;
    margin: 0;
    padding: 0 1rem;
    list-style: none; }
  .widget_aamp-vrm-search .vrm-search__input {
    display: flex;
    width: 100%; }
    .widget_aamp-vrm-search .vrm-search__input input {
      width: 100%;
      height: 40px;
      padding: 0 1rem;
      border: 1px #fff solid;
      color: #000;
      text-align: center;
      text-transform: uppercase; }
  .widget_aamp-vrm-search .vrm-search__button {
    display: flex;
    width: 44px; }
    .widget_aamp-vrm-search .vrm-search__button .btn {
      width: 100%;
      min-width: 0;
      height: 40px;
      padding: 0; }
      .widget_aamp-vrm-search .vrm-search__button .btn:before, .widget_aamp-vrm-search .vrm-search__button .btn:after {
        display: none; }
      .widget_aamp-vrm-search .vrm-search__button .btn i {
        font-size: 1.25rem;
        font-weight: normal;
        line-height: 38px; }

.modal-open .modal {
  padding-right: 0 !important; }

.modal-backdrop {
  -webkit-backface-visibility: hidden; }
  .modal-backdrop.zoom, .modal-backdrop.newspaper, .modal-backdrop.move-horizontal, .modal-backdrop.move-from-top, .modal-backdrop.unfold-3d, .modal-backdrop.zoom-out {
    opacity: 0;
    transition: opacity 0.4s ease; }
  .modal-backdrop.show {
    opacity: 0.5; }
  .modal-backdrop.unfold-3d {
    perspective: 500; }

.modal.zoom .modal-dialog {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: scale(0.6); }

.modal.show .modal-dialog {
  opacity: 1;
  transition: all 0.4s ease-in-out;
  transform: scale(1); }

.modal.fade.newspaper .modal-dialog,
.modal.newspaper .modal-dialog {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s;
  transform: scale(0) rotate(500deg); }

.modal.fade.newspaper.show .modal-dialog,
.modal.show .modal-dialog {
  opacity: 1;
  transform: scale(1) rotate(0deg); }

.modal.move-horizontal .modal-dialog {
  opacity: 0;
  transition: all 0.5s;
  transform: translateX(-50px); }

.modal.show .modal-dialog {
  opacity: 1;
  transform: translateX(0); }

.modal.move-from-top .modal-dialog {
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(-100px); }

.modal.show .modal-dialog {
  opacity: 1;
  transform: translateY(0); }

.modal.unfold-3d .modal-dialog {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: rotateY(-60deg);
  transform-style: preserve-3d; }

.modal.show .modal-dialog {
  opacity: 1;
  transform: rotateY(0deg); }

.modal.fade.zoom-out .modal-dialog,
.modal.zoom-out .modal-dialog {
  opacity: 0;
  transition: all 0.5s;
  transform: scale(1.3); }

.modal.fade.zoom-out.show .modal-dialog,
.modal.show .modal-dialog {
  opacity: 1;
  transform: scale(1); }

.csstransforms3d .modal.unfold-3d .modal-dialog {
  transform: none;
  transform: scale(0.7) rotate3d(-1, 1, 0, -60deg);
  transform-origin: 50% 100%; }

.csstransforms3d .modal.show .modal-dialog {
  transform: scale(1) rotate3d(-1, 1, 0, 0deg); }
