.category-tile {
    position: relative;
    overflow: hidden;
    height: 330px;
    margin-bottom: 30px;
    background-color: #000;

    &:hover {
        .category-tile {
            &__description {
                max-height: 300px;
                opacity: 1;
                transition: max-height 0.75s linear, opacity 0.75s cubic-bezier(0.23, 1, 0.32, 1) 0.15s;

                &:after {
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s;
                    transform: translate3d(0, 0, 0);
                }
            }

            &__title {
                &:after {
                    width: 40px;
                    transition: width 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
                }
            }

            &__background {
                transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
                transform: scale(1.2);
            }
        }
    }

    &__background {
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
        transform-origin: center center;
    }

    &__inner {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0 2rem;
        color: $color-grey-dark;
        text-decoration: none;

        align-items: center;
        justify-content: center;
    }

    &__title {
        display: block;
        width: 100%;
        margin: 0;
        color: #fff;
        text-align: center;

        @media screen and (max-width: 992px) {
            font-size: 1rem;
            line-height: 1rem;
        }

        &:after {
            width: 32%;
            margin: 0.5rem auto 0.5rem auto;
            background-color: #fff;
            transition: width 0.65s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
        }
    }

    &__description {
        display: block;
        overflow: hidden;
        max-height: 0;
        margin: 0;
        opacity: 0;
        color: #fff;
        transition: opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), max-height 0.5s linear;

        &:after {
            display: block;
            visibility: hidden;
            width: 48px;
            height: 12px;
            margin: 0.5rem auto 0 auto;
            opacity: 0;
            content: "";
            transition: all 0.25s ease-out;
            transform: translate3d(-50%, 0, 0);

            @include arrow-image(#fff);
        }
    }

    &--style1 {
        &:hover {
            .category-tile {
                &__background {
                    opacity: 0.35;
                }
            }
        }

        .category-tile {
            background-color: #000;

            &__background {
                opacity: 0.65;
            }
        }
    }

    &--style2 {
        &:hover {
            .category-tile {
                &__inner {
                    background: rgba(255, 255, 255, 0.65);
                    transition: background 0.35s ease-out;

                    .btn {
                        max-height: 40px;
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                        opacity: 1;
                        border-color: #000;
                        color: #000;
                        transition: max-height 0.15s ease-out, opacity 0.15s ease-out 0.10s;
                    }
                }

                &__title {
                    color: #000;

                    &:after {
                        background-color: #000;
                    }
                }
            }
        }

        .category-tile {
            &__inner {
                background: rgba(0, 0, 0, 0.35);
                transition: background 0.15s ease-out;

                .btn {
                    overflow: hidden;
                    max-height: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    opacity: 0;
                    border-color: transparent;
                    border-radius: 0;
                    transition: opacity 0.15s ease-out, max-height 0.15s ease-out;
                    transform-origin: center center;

                    @media screen and (max-width: 992px) {
                        min-width: 0;
                    }
                }
            }
        }
    }
}