.post-tile {
    display: flex;
    min-height: 250px;
    margin-bottom: 3.25rem;
    border: 1px #bcc3d6 solid;

    &__image {
        width: 30%;
        background-color: #000;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        img {
            display: none;
        }
    }

    &__content {
        position: relative;
        width: 70%;
        padding: 1rem;

        p {
            margin-bottom: 0;
            font-size: 0.875rem;
            color: $color-primary;
        }
    }

    &__title {
        letter-spacing: 0.5px;
        text-transform: none;

        &:after {
            width: 250px;
            margin-top: 0.75rem;
        }
    }

    &__link {
        position: absolute;
        right: 1.625rem;
        bottom: -1.625rem;
        display: block;
        width: 150px;
        height: 60px;
        background-color: $color-primary;
        background-size: 72px auto !important;
        border: 1px $color-primary solid;
        font-size: 0;
        line-height: 0;

        @include arrow-image(#fff);
    }
}