.products {
    margin: 1rem -30px;

    &__tile {
        display: flex;

        &--hidden {
            display: none;
        }

        &--active {
            display: flex;
        }

        figure {
            width: 100%;
            max-width: 100%;
            margin-bottom: 1.5rem;

            .products__tile {
                &-image {
                    position: relative;
                    overflow: hidden;
                    min-height: 130px;
                    padding: 1rem;
                    border: 1px $color-grey solid;

                    a {
                        position: relative;
                        display: block;
                        overflow: hidden;
                        min-height: 130px;
                        background-color: #fff;
                        text-decoration: none;

                        &:before,
                        &:after {
                            position: absolute;
                            z-index: 10;
                            left: 0;
                            display: flex;
                            visibility: hidden;
                            flex-direction: row;
                            width: 100%;
                            height: 50%;
                            padding: 0 1rem;
                            opacity: 0;
                            color: #fff;

                            justify-content: center;
                        }

                        &:before {
                            top: 0;
                            padding-bottom: 0.15rem;
                            font-size: 0.875rem;
                            font-weight: 800;
                            line-height: 0.875rem;
                            content: "Learn More";
                            transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
                            transform: scale(0.2);
                            transform-origin: center bottom;
                            text-transform: uppercase;

                            align-items: flex-end;
                        }

                        &:after {
                            bottom: 0;
                            left: -25%;
                            background-position: center 0.15rem !important;
                            background-size: 52px auto !important;
                            content: "";
                            transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);

                            @include arrow-image(#fff);
                        }
                    }

                    img {
                        z-index: 9;
                        width: 100%;
                        transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
                    }
                }
            }

            figcaption {
                margin: 1.25rem 0 0 0;
            }
        }

        &-title {
            flex-direction: row;
            justify-content: center;
            margin-bottom: 0.25rem;
            font-weight: bold;
            text-transform: none;

            align-items: center;

            &:after {
                display: none;
            }

            a {
                color: $color-blue;
                text-align: center;
                text-decoration: none;

                &:hover {
                    color: $color-blue;
                    text-decoration: none;
                }
            }
        }

        &-meta {
            display: block;

            &--price,
            &--reference {
                display: block;
            }

            &--price {
                width: 100%;
                font-size: 1.125rem;
                font-weight: 800;
                color: $color-blue-light;
                text-align: center;
            }

            &--reference {
                position: absolute;
                top: 1.5rem;
                left: 2rem;
                padding: 0.375rem 0.5rem 0.25rem 0.5rem;
                background-color: $color-primary;
                border-top: 1px $color-grey solid;
                border-right: 1px $color-grey solid;
                border-bottom: 1px $color-grey solid;
                font-size: 0.9375rem;
                line-height: 0.9375rem;
                color: #fff;
                pointer-events: none;
            }
        }

        &-desc {
            p {
                margin: 1rem 0;
                font-size: 0.875rem;
                line-height: 1.125rem;
                color: $color-grey;
                text-align: center;

                &:empty {
                    display: none;
                    margin: 0;
                }
            }
        }

        &:hover {
            .products__tile {
                &-image {
                    a {
                        background-color: $color-primary;

                        &:before,
                        &:after {
                            visibility: visible;
                            opacity: 1;
                        }

                        &:before {
                            transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
                            transform: scale(1);
                        }

                        &:after {
                            left: 0;
                            transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s;
                        }

                        img {
                            opacity: 0.75;
                            transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}