.video-tile {
    display: flex !important;
    flex-direction: column;
    margin-right: 1.5rem;
    margin-left: 1.5rem;

    &:hover {
        .video-tile {
            &__button {
                visibility: visible;
                opacity: 1;
                transition: all 0.15s ease-out;
            }

            &__background {
                transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
                transform: scale(1.2);
            }
        }
    }

    &__inner {
        position: relative;
        display: flex;
        overflow: hidden;
        height: 330px;

        order: 1;
    }

    &__link {
        position: relative;
        z-index: 10;
        display: block;
        width: 100%;
        height: 100%;
        color: #fff;
        text-decoration: none;
    }

    &__card {
        display: flex;
        height: 100%;

        align-items: center;
        justify-content: center;
    }

    &__background {
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
        transform-origin: center;
    }

    &__button {
        display: block;
        visibility: hidden;
        padding: 0.75rem 1rem;
        opacity: 0;
        border: 1px #fff solid;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.125rem;
        color: #fff;
        transition: all 0.15s ease-out;
        text-transform: uppercase;

        &:after {
            position: relative;
            top: -1px;
            margin-left: 0.25rem;
            font-size: 0.9375rem;
            line-height: 0.9375rem;
            content: $fa-var-play;

            @include fa-icon;
        }

        &:hover {
            color: #fff;
        }
    }

    &__title {
        display: flex;
        margin: 0;
        padding: 0.75rem 0 0 0;
        font-size: 1.25rem;
        line-height: 1.25rem;
        text-align: left;
        text-transform: none;

        align-items: flex-start;
        order: 2;

        &:after {
            display: none;
        }
    }
}