footer.site-footer {
    padding: 50px 0;
    background-color: #000;

    .copyright {
        display: block;
        font-size: 0.8125rem;
        line-height: 0.8125rem;
        color: #fff;
        text-align: right;
        text-transform: uppercase;

        @media screen and (max-width: 992px) {
            text-align: center;
        }
    }

    hr {
        margin-top: 2.813rem;
        margin-bottom: 2.813rem;
        border-color: #fff;

        @media screen and (max-width: 992px) {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }

    .navbar {
        &-epilogue {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 0.8125rem;
            line-height: 0.8125rem;

            @media screen and (max-width: 992px) {
                margin-bottom: 1.5rem;
                text-align: center;
            }

            li {
                display: inline-block;
                margin: 0 0 0 0.625rem;
                padding: 0 0 0 0.625rem;
                border-left: 1px #fff solid;
                list-style: none;
                text-transform: uppercase;

                @media screen and (max-width: 992px) {
                    &:last-child {
                        margin-right: 0;
                    }
                }

                a {
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        color: #bbb;
                    }
                }

                &:first-child {
                    margin-left: 0;
                    padding-left: 0;
                    border-left: none;
                }
            }
        }

        &-social {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;

            @media screen and (max-width: 992px) {
                margin-bottom: 1rem;
                text-align: center;
            }

            li {
                position: relative;
                display: inline-block;
                margin: 0 1rem 0 0;
                padding: 0;
                list-style: none;

                &:before {
                    display: block;
                    width: 26px;
                    height: 50px;
                    font-size: 26px;
                    line-height: 50px;
                    color: #fff;
                    text-align: center;
                }

                a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 26px;
                    height: 50px;
                    font-size: 0;
                    line-height: 0;
                }
            }
        }

        &-brands {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: right;

            @media screen and (max-width: 992px) {
                text-align: center;
            }

            li {
                display: inline-block;
                margin: 0 0.625rem;
                padding: 0;
                list-style: none;

                &:last-child {
                    margin-right: 0;
                }

                @media screen and (max-width: 992px) {
                    display: inline-block;
                    text-align: center;
                }

                a {
                    display: block;
                    float: left;
                    width: 85px;
                    height: 50px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 100% auto;
                    font-size: 0;
                    line-height: 0;

                    image-rendering: -webkit-optimize-contrast;

                    @media screen and (max-width: 992px) {
                        display: block;
                        float: none;
                        margin: 0 auto;
                    }

                    &[href*="aampglobal.com"] {
                        background-image: url(../../../aamp/assets/images/brand-logos/logo-aamp.png);
                    }

                    &[href*="pac-audio.com"] {
                        background-image: url(../../../aamp/assets/images/brand-logos/logo-pac.png);
                    }

                    &[href*="echomaster.com"] {
                        background-image: url(../../../aamp/assets/images/brand-logos/logo-echomaster.png);
                    }

                    &[href*="isimple.com"] {
                        background-image: url(../../../aamp/assets/images/brand-logos/logo-isimple.png);
                    }

                    &[href*="phoenixgold.com"] {
                        background-image: url(../../../aamp/assets/images/brand-logos/logo-phoenix.png);
                    }

                    &[href*="stingerelectronics.com"] {
                        background-image: url(../../../aamp/assets/images/brand-logos/logo-stinger.png);
                    }

                    &[href*="autoleads.co.uk"] {
                        background-image: url(../../../aamp/assets/images/brand-logos/logo-autoleads.png);
                    }
                }
            }
        }
    }
}