.widget {
    &_aamp-icon-link {
        padding: 15px;
        background-color: #fff;
        transform-origin: center center;

        .widget {
            &__title {
                position: relative;
                z-index: 10;
                display: flex;
                width: 100%;
                margin-bottom: 0;
                padding: 0;
                font-weight: normal;
                transition: all 0.20s ease-out;

                justify-content: center;

                &:after {
                    display: none;
                }

                a {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    min-height: 82px;
                    padding-left: 112px;
                    font-weight: normal;
                    color: #000;
                    text-align: left;
                    text-decoration: none;
                    text-transform: uppercase;

                    flex-wrap: wrap;
                    justify-content: center;
                }
            }

            &__subtitle {
                display: block;
                margin-top: 0.375rem;
                font-size: 0.875rem;
                color: #868686;
                transition: all 0.20s ease-out;
            }

            &__icon {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 82px;
                height: 82px;
                margin-right: 1.5rem;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 52px auto;
                border: 1px #d9d9d9 solid;
                content: "";

                image-rendering: -webkit-optimize-contrast;

                img {
                    display: none;
                }
            }
        }
    }
}