.sbv {
    display: flex;
    padding: 1.5rem;
    background: #fff;
    color: #000;

    .widget__title {
        margin-bottom: 0;
        margin-left: 1.5rem;
    }

    &__form {
        width: 80%;
    }

    &__photo {
        position: relative;
        width: 20%;
        max-height: 150px;
        border: 1px #000 solid;

        &:before {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            padding: 0 1rem;
            font-size: 1rem;
            font-weight: bold;
            line-height: 1rem;
            color: #000;
            text-align: center;
            text-transform: uppercase;

            align-items: center;
            justify-content: center;
        }

        &--select {
            &:before {
                content: "Select a vehicle";
            }
        }

        &--no-image {
            &:before {
                content: "No image found for the selected vehicle";
            }
        }

        &--display {
            &:before {
                content: "";
            }

            .sbv__photo {
                &-inner {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        &-inner {
            display: block;
            visibility: hidden;
            width: 100%;
            height: 100%;
            margin-right: 1.5rem;
            opacity: 0;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            transition: all 0.25s ease-out;
        }
    }

    &__fields {
        display: flex;
        flex-direction: row;

        flex-wrap: wrap;

        &--loading {
            &-make {
                .sbv__field[data-field-type="make"] {
                    &:before {
                        display: block;
                    }
                }
            }

            &-model {
                .sbv__field[data-field-type="model"] {
                    &:before {
                        display: block;
                    }
                }
            }

            &-year {
                .sbv__field[data-field-type="year"] {
                    &:before {
                        display: block;
                    }
                }
            }

            &-trim {
                .sbv__field[data-field-type="trim"] {
                    &:before {
                        display: block;
                    }
                }
            }
        }
    }

    &__field {
        position: relative;
        width: 50%;
        margin-top: 1.5rem;
        padding-left: 1.5rem;

        &:before {
            position: absolute;
            right: 3px;
            bottom: 3px;
            display: none;
            width: 36px;
            height: 36px;
            background-color: #fff;
            background-image: url(../images/loaders/small.gif);
            background-repeat: no-repeat;
            background-position: center center;
            content: "";
        }

        &[data-field-type="button"] {
            .btn {
                width: 100%;
                height: 42px;
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        label {
            position: absolute;
            z-index: 100;
            top: -0.25rem;
            display: block;
            margin-left: 0.5rem;
            padding: 0 0.375rem;
            background: #fff;
            font-size: 0.75rem;
            font-weight: bold;
            line-height: 0.75rem;
            color: #999;
            text-transform: uppercase;
        }

        select {
            width: 100%;
            height: 42px;
            padding: 0.375rem 0.75rem 0 0.625rem;
            font-size: 0.875rem;
            font-weight: bold;
            line-height: 34px;
            text-transform: uppercase;

            &:focus,
            &:active {
                border: 1px #000 solid;
                outline: none;
                box-shadow: none;
            }
        }
    }

    &--mmy {
        .sbv__field {
            &[data-field-type="make"],
            &[data-field-type="model"],
            &[data-field-type="year"] {
                width: 50%;
            }

            &[data-field-type="trim"] {
                display: none;
            }
        }
    }
}