.btn {
    min-width: 200px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: transparent;
    border: 1px #000 solid;
    border-radius: 0;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        box-shadow: none;
    }

    &:after {
        position: relative;
        top: -1px;
        left: -25%;
        display: inline-block;
        width: 0;
        height: 8px;
        opacity: 0;
        content: "";
        transition: all 0.15s ease-out;
        transform-origin: center center;

        @include arrow-image(#000);
    }

    &:hover {
        &:after {
            top: 0;
            left: 1px;
            width: 48px;
            opacity: 1;
            transition: left 0.15s ease-out, opacity 0.25s ease-out;
        }
    }

    &.btn-inverse {
        border-color: #fff;
        color: #fff;

        &:after {
            @include arrow-image(#fff);
        }
    }

    &.btn-primary {
        border-color: $color-primary;
        color: $color-primary;

        &:after {
            @include arrow-image($color-primary);
        }
    }

    &.btn-secondary {
        padding: 1rem 0;
        border-color: $color-grey;
        font-size: 1rem;
        font-weight: 800;
        line-height: 1rem;
        color: $color-primary;

        &:hover {
            background-color: $color-primary;
            border-color: $color-primary;
            color: #fff;

            &:after {
                top: -2px;
                width: 54px;
            }
        }

        &:after {
            top: -2px;
            background-position: center right !important;

            @include arrow-image(#fff);
        }
    }

    &.disabled,
    &:disabled {
        opacity: 1;
        background-color: #fff;
        border-color: $color-grey;
        color: $color-grey;
        cursor: not-allowed;

        &:after {
            display: none !important;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: #fff;
            border-color: $color-grey;
            color: $color-grey;
        }
    }

    &.btn-circle {
        display: flex;
        width: 32px;
        min-width: 0;
        height: 32px;
        margin: 0 0.25rem;
        padding: 0;
        border: 1px $color-grey-dark solid;
        border-radius: 50%;
        color: #000;

        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #000;
            border-color: #000;
            color: #fff;
        }

        &:after {
            display: none;
        }

        i {
            font-size: 0.625rem;
            line-height: 0.625rem;
        }
    }

    &.btn-icon {
        height: 48px;
        padding: 0 1.5rem;
        border-color: $color-grey;
        font-size: 0.875rem;
        line-height: 48px;
        color: $color-primary;

        &:after {
            top: 8px;
            left: 0;
            width: 52px;
            height: 28px;
            opacity: 1;
            background-position: center right;
            background-size: 28px auto;
        }

        &:hover {
            &:after {
                top: 8px;
            }
        }

        &--back {
            &:after {
                background-image: url(../images/icons/icon-back.png);
            }
        }
    }
}
