h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    display: flex;
    flex-direction: column;
    margin: 0 0 1.5rem 0;
    font-weight: 900;
    color: $color-primary;
    text-transform: uppercase;

    align-items: flex-start;

    &.text-center {
        align-items: center;
    }

    &.text-right {
        align-items: flex-end;
    }
}

h1,
h2,
h3 {
    &:after {
        display: block;
        width: 100px;
        height: 1px;
        margin-top: 0.5rem;
        background-color: #000;
        content: "";
    }
}

.header-alignment {
    &-center {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            align-items: center;
        }
    }

    &-right {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            align-items: flex-end;
        }
    }
}

.text-alignment {
    &-center {
        text-align: center;
    }

    &-right {
        text-align: center;
    }
}

h1,
.heading--h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

h2,
.heading--h2 {
    font-size: 1.25rem;
    line-height: 1.25rem;
}

h3,
.heading--h3 {
    font-size: 1.125rem;
    line-height: 1.125rem;
}

h4,
.heading--h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1rem;
}

h5,
h6,
.heading--h5,
.heading--h6 {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 1rem;
}

strong,
b {
    font-weight: 900;
}

p {
    margin: 0 0 1.125rem 0;
    font-size: 1rem;
    line-height: 1.25rem;
}

a {
    color: $color-red;
    text-decoration: underline;

    &:hover {
        color: $color-red;
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    height: auto;

    &.alignnone {
        margin-bottom: 1rem;
    }

    &.alignleft {
        float: left;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    &.alignright {
        float: left;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    &.aligncenter {
        display: block;
        margin: 0 auto;
    }
}

main.site-content {
    overflow-x: hidden;
    background-color: #fff;
    background-image: url(../images/bg-stripes-grey.png);
    background-repeat: repeat;
    color: $color-grey-dark;

    & > article {
        margin-bottom: 3.75rem;
    }

    .sidebar {
        @media screen and (max-width: 992px) {
            padding-right: 0;
            padding-left: 0;

            order: 2;
        }
    }
}

.hidden {
    display: none;
}

.screen-reader-text {
    position: absolute;
    top: -1000em;
    left: -1000em;
    overflow: hidden;
    width: 1px;
    height: 1px;
}