footer.site-footer {
    padding: 100px 0;
    background-image: url(../images/bg-footer.png);
    background-repeat: repeat;
    background-size: auto 100%;

    @media screen and (max-width: 992px) {
        padding: 50px 0;
    }

    .copyright {
        color: $color-grey-dark;
    }

    hr {
        border-color: $color-grey-verydark;
    }

    .navbar {
        &-epilogue {
            li {
                border-left-color: $color-grey-dark;

                a {
                    color: $color-grey-dark;

                    &:hover {
                        color: $color-red;
                    }
                }
            }
        }

        &-social {
            li {
                &:before {
                    color: $color-grey-dark;
                }
            }
        }

        &-brands {
            li {
                a {
                    opacity: 0.5;
                }
            }
        }
    }
}