header.masthead {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: $color-primary;
    color: #fff;

    &:after {
        position: absolute;
        z-index: 1;
        display: block;
        visibility: hidden;
        width: 100%;
        height: 6rem;
        background:    -moz-linear-gradient(top, rgba(red($color-primary), green($color-primary), blue($color-primary), 0.5) 0%, rgba(red($color-primary), green($color-primary), blue($color-primary), 0) 100%);
        background: -webkit-linear-gradient(top, rgba(red($color-primary), green($color-primary), blue($color-primary), 0.5) 0%,rgba(red($color-primary), green($color-primary), blue($color-primary), 0) 100%);
        background:         linear-gradient(to bottom, rgba(red($color-primary), green($color-primary), blue($color-primary), 0.5) 0%,rgba(red($color-primary), green($color-primary), blue($color-primary), 0) 100%);
        opacity: 0;
        content: "";
        transition: all 0.75s cubic-bezier(1, 0, 0, 1);

        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#801f355e', endColorstr='#001f355e',GradientType=0 );
    }

    .navbar-brand {
        position: absolute;
        z-index: 11;
        top: 22px;
        left: 3rem;
        padding-top: 0;
        padding-bottom: 0;

        @media screen and (max-width: 1300px) {
            left: 1.5rem;
            width: 225px;
        }

        @media screen and (max-width: 1200px) {
            width: 200px;
        }

        @media screen and (max-width: 1100px) {
            width: 175px;
        }

        @media screen and (max-width: 992px) {
            top: 24px;
            width: 50%;
        }

        img {
            @media screen and (max-width: 1200px) {
                max-width: 100%;

                image-rendering: -webkit-optimize-contrast;
            }

            @media screen and (max-width: 992px) {
                height: 34px;
            }

            @media screen and (max-width: 576px) {
                height: auto;
            }
        }
    }

    .navbar-toggler {
        @media screen and (max-width: 992px) {
            position: absolute;
            top: 19px;
            right: 1.5rem;
            width: 48px;
            height: 48px;
            padding: 0;
            border: 8px $color-grey solid;
            border-top-left-radius: 40%;
            border-bottom-right-radius: 40%;
            outline: none;
            cursor: pointer;
            transition: all 0.25s cubic-bezier(1, 0, 0, 1);
        }

        &-bar {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 18px;
            height: 1px;
            background: $color-grey;
            transition: all 0.25s cubic-bezier(1, 0, 0, 1);
            transform: translateX(-50%);

            &:first-child {
                transform: translate3d(-50%, -6px, 0);
            }

            &:last-child {
                transform: translate3d(-50%, 6px, 0);
            }

            &:nth-child(2) {
                &:before,
                &:after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    width: 18px;
                    height: 1px;
                    background: $color-grey;
                    content: "";
                    transition: all 0.25s cubic-bezier(1, 0, 0, 1);
                    transform: translateX(-50%);
                }

                &:before {
                    transform: translate3d(-50%, -4px, 0);
                }

                &:after {
                    transform: translate3d(-50%, 2px, 0);
                }
            }
        }

        &[aria-expanded="true"] {
            border-color: #fff;

            .navbar-toggler {
                &-bar {
                    background-color: #fff;

                    &:nth-child(2) {
                        opacity: 0;
                        transition: all 0.25s cubic-bezier(1, 0, 0, 1);

                        &:before,
                        &:after {
                            background-color: #fff;
                            transition: all 0.15s cubic-bezier(1, 0, 0, 1);
                        }

                        &:before {
                            transform: translate3d(-50%, -1px, 0);
                        }

                        &:after {
                            transform: translate3d(-50%, -1px, 0);
                        }
                    }

                    &:first-child {
                        width: 22px;
                        margin-top: 11px;
                        margin-left: -8px;
                        transition: all 0.25s cubic-bezier(1, 0, 0, 1);
                        transform: rotate(45deg) translate3d(-50%, -6px, 0);
                    }

                    &:last-child {
                        width: 22px;
                        margin-top: -4px;
                        margin-left: 1px;
                        transition: all 0.25s cubic-bezier(1, 0, 0, 1);
                        transform: rotate(-45deg) translate3d(-50%, -6px, 0);
                    }
                }
            }
        }
    }

    & > .navbar {
        height: 86px;
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: 1px #34486d solid;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);

        @media screen and (max-width: 992px) {
            align-items: flex-start;
        }
    }

    .navbar {
        padding-right: 0;
        padding-left: 0;

        &-collapse {
            position: relative;
            z-index: 10;

            justify-content: center;

            @media screen and (max-width: 992px) {
                top: 86px;
                padding-top: 2rem;
                background-color: rgba(0, 0, 0, 0.85);

                justify-content: flex-start;
            }
        }

        &-nav {
            &#menu-primary-navigation {
                @media screen and (max-width: 992px) {
                    position: relative;
                }
            }

            .nav {
                &-link {
                    position: relative;
                    z-index: 10;
                    padding: 0 0.625rem;
                    font-size: 1rem;
                    line-height: 1rem;
                    color: #fff;
                    text-decoration: none;
                    letter-spacing: -0.5px;
                    text-transform: uppercase;

                    @media screen and (max-width: 1400px) {
                        padding: 0 0.5rem;
                    }

                    @media screen and (max-width: 1100px) {
                        font-size: 0.9375rem;
                        line-height: 0.9375rem;
                    }

                    @media screen and (max-width: 992px) {
                        position: relative;
                        display: inline-block;
                        padding-top: 0.625rem;
                        padding-bottom: 0.625rem;
                    }

                    &:hover {
                        color: $color-red;
                        text-decoration: none;

                        &:after {
                            @media screen and (max-width: 992px) {
                                width: 60%;
                                transition: width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s;
                            }
                        }
                    }

                    &:after {
                        @media screen and (max-width: 992px) {
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            display: block;
                            width: 0;
                            height: 1px;
                            background-color: $color-red;
                            content: "";
                            transition: width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
                            transform: translateX(-50%);
                            transform-origin: center center;
                        }
                    }
                }

                &-item {
                    position: relative;

                    @media screen and (max-width: 992px) {
                        text-align: center;
                    }

                    &:hover {
                        ul.sub-menu {
                            @media screen and (min-width: 992px) {
                                display: block;
                            }
                        }
                    }

                    &.nav-item--expanded {
                        .sub-menu-toggle {
                            transform: rotate(180deg);
                        }
                    }

                    .sub-menu-toggle {
                        position: relative;
                        top: 6px;
                        display: none;
                        width: 24px;
                        height: 24px;
                        background-size: 17px 10px !important;
                        cursor: pointer;
                        transform-origin: center center;

                        @include chevron-down-image(#fff);

                        @media screen and (max-width: 992px) {
                            display: inline-block;
                        }

                        i {
                            display: none;
                        }
                    }

                    ul.sub-menu {
                        display: none;

                        .nav {
                            &-item {
                                background: #000;

                                &.current-menu-item,
                                &.current-menu-parent,
                                &.current-menu-ancestor,
                                &.current_page_item,
                                &.current_page_parent,
                                &.current_page_ancestor {
                                    & > .nav-link {
                                        color: $color-red;

                                        &:before {
                                            width: 90%;
                                        }
                                    }
                                }
                            }

                            &-link {
                                position: relative;
                                padding: 0.625rem 0.5rem;
                                font-size: 0.875rem;
                                line-height: 0.875rem;
                                text-align: center;

                                &:hover {
                                    color: #fff;

                                    &:after {
                                        width: 90%;
                                        transition: width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s;
                                    }
                                }

                                &:after {
                                    position: absolute;
                                    left: 50%;
                                    display: block;
                                    width: 0;
                                    height: 1px;
                                    margin-top: 0.5rem;
                                    background: $color-red;
                                    content: "";
                                    transition: width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
                                    transform: translateX(-50%);
                                    transform-origin: center center;
                                }
                            }
                        }
                    }
                }
            }

            & > .nav-item {
                &.current-menu-item,
                &.current-menu-parent,
                &.current-menu-ancestor,
                &.current_page_item,
                &.current_page_parent,
                &.current_page_ancestor {
                    & > .nav-link {
                        color: $color-red;

                        &:before {
                            position: absolute;
                            top: -36px;
                            left: 50%;
                            display: block;
                            width: 1px;
                            height: 24px;
                            background-color: $color-red;
                            content: "";

                            @media screen and (max-width: 992px) {
                                display: none;
                            }
                        }
                    }
                }

                & > ul.sub-menu {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 300px;
                    margin: 0 0 0 -100px;
                    padding: 2rem 1rem;
                    list-style: none;

                    @media screen and (max-width: 992px) {
                        position: static;
                        width: 80%;
                        margin: 0 auto;
                        padding-top: 0.5rem;
                        padding-bottom: 1rem;
                    }

                    &:before {
                        display: block;
                        width: 100%;
                        height: 30px;
                        background-color: $color-grey;
                        background-size: 14px 9px !important;
                        content: "";

                        @include chevron-down-image($color-red);
                    }

                    & > .nav {
                        &-item {
                            border-right: 1px $color-grey solid;
                            border-left: 1px $color-grey solid;

                            &:first-child {
                                padding-top: 1rem;
                            }

                            &:last-child {
                                padding-bottom: 1rem;
                                border-bottom: 1px $color-grey solid;
                            }
                        }
                    }
                }
            }

            &#menu-secondary-navigation {
                position: absolute;
                right: 3rem;

                @media screen and (max-width: 1300px) {
                    right: 1.5rem;
                }

                @media screen and (max-width: 1200px) {
                    flex-direction: column;
                    text-align: right;
                }

                @media screen and (max-width: 992px) {
                    position: relative;
                    right: auto;
                    margin: 1rem 0 0 0;
                    padding: 1rem 0;
                    background: rgba(0, 0, 0, 0.5);
                }

                .nav {
                    &-link {
                        font-size: 12px;
                        letter-spacing: normal;

                        &:last-child {
                            padding-right: 0;
                        }

                        &:hover {
                            &:after {
                                @media screen and (max-width: 992px) {
                                    width: 10%;
                                }
                            }
                        }
                    }
                }
            }
        }

        &-utilities {
            position: absolute;
            right: 3rem;
            bottom: -6.250rem;
            display: flex;
            height: 34px;
            transition: all 0.15s cubic-bezier(1, 0, 0, 1) 0.15s;

            align-items: center;

            @media screen and (max-width: 992px) {
                position: relative;
                right: auto;
                bottom: 0;
                height: auto;
                padding: 1.5rem;
                background: $color-primary;

                justify-content: center;
            }

            @media screen and (max-width: 767px) {
                flex-direction: column;
            }

            .navbar {
                &-social {
                    display: flex;
                    margin: 0 1rem 0 0;
                    padding: 0;
                    list-style: none;

                    @media screen and (max-width: 767px) {
                        order: 2;
                        padding-top: 1rem;
                    }

                    li {
                        position: relative;
                        display: block;
                        width: 26px;
                        height: 26px;
                        margin: 0 0.25rem;
                        padding: 0;
                        list-style: none;
                        font-size: 1.125rem;
                        line-height: 26px;
                        color: $color-grey-dark;
                        text-align: center;

                        @media screen and (max-width: 992px) {
                            color: #fff;
                        }

                        a {
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: block;
                            width: 26px;
                            height: 26px;
                            font-size: 0;
                            line-height: 0;
                        }

                        &:hover {
                            color: $color-red;
                        }
                    }
                }
            }

            form {
                position: relative;
                margin: 0;

                @media screen and (max-width: 767px) {
                    order: 1;
                }

                input[type="text"] {
                    height: 34px;
                    margin-right: 0 !important;
                    padding: 0 1rem;
                    background: transparent;
                    border: 1px $color-grey-verydark solid;
                    border-radius: 0;
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    line-height: 14px;
                    color: $color-grey-dark;
                    text-transform: uppercase;

                    @media screen and (max-width: 992px) {
                        border-color: #fff;
                    }

                    &:focus,
                    &:active,
                    &:hover {
                        background-image: url(../images/bg-header-tile.png);
                        background-repeat: repeat;
                        border-color: $color-red;
                        outline: none;
                        color: #fff;
                    }

                    &::-webkit-input-placeholder {
                        color: $color-grey-dark;
                    }
                    &::-moz-placeholder {
                        color: $color-grey-dark;
                    }
                    &:-ms-input-placeholder {
                        color: $color-grey-dark;
                    }
                    &:-moz-placeholder {
                        color: $color-grey-dark;
                    }

                    @media screen and (max-width: 992px) {
                        &::-webkit-input-placeholder {
                            color: #fff;
                        }
                        &::-moz-placeholder {
                            color: #fff;
                        }
                        &:-ms-input-placeholder {
                            color: #fff;
                        }
                        &:-moz-placeholder {
                            color: #fff;
                        }
                    }
                }

                button[type="submit"] {
                    position: absolute;
                    top: 6px;
                    right: 7px;
                    width: 22px;
                    min-width: 0;
                    height: 22px;
                    background-color: transparent;
                    border: none;
                    border-radius: 0;
                    outline: none;
                    font-size: 0;
                    line-height: 0;
                    color: $color-grey-dark;
                    cursor: pointer;

                    &:hover,
                    &:focus,
                    &:active {
                        border: none;
                        outline: none;
                        box-shadow: none;
                        color: $color-red;
                    }

                    &:before {
                        position: absolute !important;
                        top: 0;
                        left: 0;
                        display: block !important;
                        width: 22px;
                        height: 22px;
                        font-size: 1.25rem !important;
                        line-height: 22px !important;
                        content: $fa-var-search;

                        @include fa-icon();

                        @media screen and (max-width: 992px) {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    &.sps--blw {
        .navbar {
            &-utilities {
                @media screen and (min-width: 992px) {
                    bottom: -2.125rem;
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }

        &:hover {
            .navbar {
                &-utilities {
                    @media screen and (min-width: 992px) {
                        bottom: -6.250rem;
                        visibility: visible;
                        opacity: 1;
                        transition: all 0.5s cubic-bezier(1, 0, 0, 1);
                    }
                }
            }

            &:after {
                @media screen and (min-width: 992px) {
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.25s cubic-bezier(1, 0, 0, 1);
                }
            }
        }
    }

    + main.site-content {
        padding-top: 86px;
    }
}