.loader {
    &[data-static-loader="true"] {
        position: relative;
        width: 3rem;
        height: 3rem;
        margin: 2rem auto;
        outline: 1px solid transparent;
        animation: anim-static-loader-outer 3.25s infinite;

        &:before,
        &:after {
            position: fixed;
            width: 3rem;
            height: 3rem;
            outline: 1px solid transparent;
            content: "";
        }

        &:before {
            background-color: $color-primary;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        &:after {
            z-index: 1;
            background-color: #fff;
            background-image: url(../images/bg-stripes-grey.png);
            background-repeat: repeat;
            background-position: center center;
            border-top-left-radius: 15px;
            border-bottom-right-radius: 15px;
            animation: anim-static-loader-inner 1s alternate infinite ease-in-out;
        }
    }
}

@keyframes anim-static-loader-inner {
    0% {
        transform: scale(0.55);
    }
    50% {
        transform: scale(0.55);
    }
    100% {
        transform: scale(0.65);
    }
}

@keyframes anim-static-loader-outer {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}