.page {
    &-heading {
        display: flex;
        flex-direction: column;
        min-height: 160px;
        margin-bottom: 3.75rem;
        padding: 4.5rem 0 2.375rem 0;
        background-color: #000;
        background-image: url(../images/bg-header-tile.png);
        background-repeat: repeat;
        color: #fff;

        align-items: center;
        clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 50% 100%, 0% 60%, 0% 0%);
        justify-content: center;

        @media screen and (max-width: 992px) {
            padding-top: 2rem;
        }

        @media screen and (max-width: 576px) {
            padding-top: 1.5rem;
        }
    }

    &-title {
        display: block;
        max-width: 50%;
        margin: 0;
        padding: 0;
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 2.5rem;
        color: #fff;
        text-align: center;
        text-transform: uppercase;

        @media screen and (max-width: 767px) {
            font-size: 2rem;
            line-height: 2rem;
            max-width: none;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        @media screen and (max-width: 576px) {
            font-size: 1.5rem;
            line-height: 1.5rem;
        }

        &:after {
            display: block;
            width: 230px;
            height: 1px;
            margin: 1.75rem auto 0 auto;
            background-color: $color-red;
            content: "";

            @media screen and (max-width: 992px) {
                width: 200px;
                margin-top: 1.25rem;
            }

            @media screen and (max-width: 767px) {
                width: 150px;
            }

            @media screen and (max-width: 576px) {
                display: none;
            }
        }
    }

    &-subtitle {
        display: block;
        max-width: 65%;
        margin: 1.75rem 0 0 0;
        font-weight: 300;
        color: $color-grey;
        text-align: center;

        strong {
            color: #fff;
        }
    }
}