.post-tile {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    border: 1px $color-primary solid;

    &__image {
        width: 40%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__content {
        padding: 1rem;
    }
}