.so-widget-aamp-card-icon {
    position: relative;

    .icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 85px;
        height: 85px;

        @media screen and (min-width: 992px) and (max-width: 1337px), screen and (max-width: 767px) {
            position: relative;
            margin: 0 auto 3rem auto;
        }

        &__image {
            position: relative;
            z-index: 10;
            top: 15px;
            left: 15px;
            width: 55px;
            height: 55px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

        &__inner {
            display: block;
            width: 85px;
            height: 85px;

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 85px;
                height: 85px;
                opacity: 0.5;
                background-color: inherit;
                content: "";
                transform: scale(1.05) rotate(45deg);
            }
        }
    }

    .content {
        position: relative;
        margin-left: 115px;

        @media screen and (min-width: 992px) and (max-width: 1337px), screen and (max-width: 767px) {
            margin-left: 0;
            text-align: center;
        }
    }
}