.widget {
    &_aamp-custom-headline {
        .section-title {
            margin-bottom: 0;

            &__subtitle {
                font-weight: 500;
                margin-top: 0.25rem;
            }
        }

        h1 {
            .section-title__subtitle {
                font-size: 1.75rem;
                line-height: 1.75rem;
            }
        }

        h2 {
            .section-title__subtitle {
                font-size: 1.5rem;
                line-height: 1.5rem;
            }
        }

        h3 {
            .section-title__subtitle {
                font-size: 1.25rem;
                line-height: 1.25rem;
            }
        }

        h4,
        h5,
        h6 {
            .section-title__subtitle {
                font-size: 1rem;
                line-height: 1rem;
            }
        }
    }
}