.widget {
    &_aampglobal-location-map {
        overflow: hidden;
        background-color: #e0e0e0;

        .location-map {
            height: 700px;

            @media screen and (max-width: 992px) {
                display: none;
            }

            .amcharts-chart-div {
                padding: 2rem 0;

                & > svg {
                    opacity: 0;
                }

                &--initialized {
                    & > svg {
                        opacity: 1;
                        transition: all 0.75s ease-out;
                    }
                }
            }
        }

        .map-marker {
            position: absolute;
            width: 20px;
            height: 20px;
            transform: translateX(-10px) translateY(-10px);

            &__tooltip {
                position: relative;
                z-index: 11;
                top: 20px;
                left: 10px;
                display: block;
                width: 150px;
                padding: 0.35rem;
                background: $color-primary;
                opacity: 0;
                font-size: 0.75rem;
                line-height: 0.75rem;
                color: #fff;
                transition: opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
                transform: scale(1.2);
                pointer-events: none;

                &:before {
                    position: absolute;
                    top: -10px;
                    left: 0;
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-left: 10px solid $color-primary;
                    content: "";
                }

                &-title,
                &-purpose {
                    display: block;
                }

                &-title {
                    text-transform: uppercase;
                }

                &-purpose {
                    font-style: italic;
                }

                &--card {
                    position: relative;
                    top: 0;
                    left: 15px;
                    width: 200px;
                    height: 165px;
                    padding: 0;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    border: none;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
                    cursor: pointer;
                    transform: translateX(-50%) translateY(-100%) scale(1.2);

                    &:before {
                        position: absolute;
                        top: auto;
                        bottom: -20px;
                        left: 50%;
                        width: 0;
                        height: 0;
                        border-top: 10px solid #fff;
                        border-right: 10px solid transparent;
                        border-left: 10px solid transparent;
                        content: "";
                        transform: translateX(-50%);
                    }

                    .map-marker__tooltip {
                        &-title {
                            position: relative;
                            top: 115px;
                            left: 0;
                            width: 100%;
                            height: 50px;
                            padding: 0.5rem 3rem 0.5rem 0.5rem;
                            background-color: #fff;
                            border: none;
                            font-size: 0.75rem;
                            font-weight: normal;
                            line-height: 0.75rem;
                            color: #000;
                            text-transform: uppercase;

                            align-content: center;
                            align-items: center;

                            &:before {
                                position: absolute;
                                top: 0;
                                right: 0.5rem;
                                width: 35px;
                                height: 35px;
                                background-color: $color-primary;
                                border: 2px #fff solid;
                                border-radius: 50%;
                                font-size: 0.875rem !important;
                                line-height: 31px !important;
                                color: #fff;
                                content: $fa-var-chevron-right;
                                transform: translateY(-50%);
                                text-align: center;
                                text-indent: 3px;

                                @include fa-icon();
                            }
                        }

                        &-purpose {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            padding: 0.35rem 0.35rem 0.45rem 0.35rem;
                            background-color: rgba(0, 0, 0, 0.35);
                            font-size: 0.75rem;
                            font-style: italic;
                            line-height: 0.75rem;
                            color: #fff;
                            text-align: left;
                        }

                        &-image {
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: block;
                            width: 100%;
                            height: 115px;
                            background-repeat: no-repeat;
                            background-position: center center;
                        }
                    }
                }
            }

            &__dot {
                position: absolute;
                z-index: 10;
                width: 20px;
                height: 20px;
                opacity: 0;
                background-color: $color-primary;
                border: 3px #fff solid;
                border-radius: 50%;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
                cursor: pointer;
                transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
                transform: scale(0.2);
                transform-origin: center center;

                &:hover {
                    background-color: #fff;
                    border-color: $color-primary;
                }
            }

            &--large {
                width: 30px;
                height: 30px;
                transform: translateX(-15px) translateY(-15px);

                .map-marker {
                    &__dot {
                        width: 30px;
                        height: 30px;
                        background-image: url(../../widgets/aampglobal-location-map/assets/images/large-location-aamp-icon.png);
                        background-repeat: no-repeat;
                        background-position: -7px 3px;
                        background-size: 150%;

                        &:before,
                        &:after {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            border: 1px $color-primary solid;
                            border-radius: 50%;
                            content: "";
                            transform: scale(1.2);
                            transform-origin: center center;
                            animation: 2.5s marker-dot-echo infinite;
                        }

                        &:after {
                            animation: 2.5s marker-dot-echo-wide 1.5s infinite;
                        }
                    }
                }
            }

            @for $index from 1 to 30 {
                &:nth-child(#{$index}) {
                    .map-marker {
                        &__dot {
                            transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) ($map-dot-delay * $index), transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) ($map-dot-delay * $index);
                        }
                    }
                }
            }

            &--initialized {
                .map-marker {
                    &__dot {
                        opacity: 1;
                        transform: scale(1);
                    }
                }

                &.map-marker {
                    &--large {
                        .map-marker {
                            &__dot {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }

            &--open,
            &--sticky {
                z-index: 20;

                .map-marker {
                    &__dot {
                        background-color: #fff;
                        border-color: $color-primary;
                    }

                    &__tooltip {
                        display: block;
                        opacity: 1;
                        transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
                        transform: scale(1);
                        pointer-events: all;

                        &--card {
                            transform: translateX(-50%) translateY(-100%) scale(1);
                        }
                    }
                }

                &.map-marker {
                    &--large {
                        .map-marker {
                            &__dot {
                                background-image: url(../../widgets/aampglobal-location-map/assets/images/large-location-aamp-icon-highlighted.png);
                            }
                        }
                    }
                }
            }
        }

        .locations {
            @media screen and (min-width: 992px) {
                &__poi {
                    position: absolute;
                    z-index: 100;
                    display: block;
                    visibility: hidden;
                    overflow: hidden;
                    width: 200px;
                    height: 165px;
                    margin-left: 15px;
                    opacity: 0;
                    background-color: #fff;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
                    transform-origin: center center;

                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        visibility: visible;
                        width: 100%;
                        height: 100%;
                        opacity: 1;
                        background-color: #fff;
                        content: "";
                        pointer-events: none;
                    }

                    &-title,
                    &-function {
                        position: absolute;
                        display: block;
                        width: 100%;
                        margin: 0;
                    }

                    &-title {
                        top: 0;
                        height: 140px;
                        padding: 0.25rem 10rem 0.25rem 0.5rem;
                        text-shadow: 2px 2px 0 #000;
                        font-size: 5rem;
                        font-weight: normal;
                        line-height: 4rem;
                        color: #fff;
                    }

                    &-function {
                        position: absolute;
                        bottom: 0;
                        padding: 0.25rem 0.35rem;
                        background-color: $color-grey-dark;
                        font-size: 1rem;
                        font-weight: bold;
                        font-style: normal;
                        line-height: 2rem;
                        color: #fff;
                        text-align: center;
                        letter-spacing: 3px;
                        text-transform: uppercase;
                    }

                    &-tagline {
                        display: block;
                        width: 767px;
                        margin: 160px auto 0 auto;
                        padding: 1rem 2rem;
                        background: $color-primary;
                        font-size: 1.35rem;
                        font-weight: bold;
                        font-style: italic;
                        line-height: 34px;
                        color: lighten($color-primary, 40%);
                    }

                    &-content {
                        display: block;
                        overflow-y: auto;
                        width: 767px;
                        max-height: 450px;
                        margin: 0 auto;
                        padding: 2rem;
                        background-color: #fff;
                    }

                    &-close {
                        position: absolute;
                        top: 0.85rem;
                        right: 0.5rem;
                        display: block;
                        font-size: 0;
                        line-height: 0;
                        color: #e0e0e0;
                        transition: all 0.25s ease-out 0s !important;
                        white-space: nowrap;
                        text-decoration: none;

                        &:before,
                        &:after {
                            display: block;
                        }

                        &:before {
                            float: left;
                            margin-right: 0.5rem;
                            font-size: 1.25rem;
                            font-weight: bold;
                            line-height: 42px;
                            content: "Return";
                            text-transform: uppercase;
                        }

                        &:after {
                            float: right;
                            width: 42px;
                            height: 42px;
                            font-size: 2rem !important;
                            line-height: 42px !important;
                            content: $fa-var-window-close;
                            text-align: center;

                            @include fa-icon();
                        }
                    }

                    &-title,
                    &-function,
                    &-tagline,
                    &-content,
                    &-close {
                        visibility: hidden;
                        opacity: 0;
                        transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
                    }

                    &--open {
                        visibility: visible;
                        width: 100%;
                        height: 700px;
                        margin-left: 0;
                        opacity: 1;

                        &:before {
                            visibility: hidden;
                            opacity: 0;
                            transition: all 1s ease-out;
                        }

                        .locations__poi {
                            &-title,
                            &-function,
                            &-tagline,
                            &-content,
                            &-close {
                                visibility: visible;
                                opacity: 1;
                                transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
                            }

                            &-title,
                            &-close {
                                transition-delay: 0.5s;
                            }

                            &-tagline {
                                transition-delay: 1s;
                            }

                            &-content {
                                transition-delay: 1s;
                            }

                            &-function {
                                transition-delay: 0.5s;
                            }
                        }
                    }

                    &--showing,
                    &--hiding {
                        visibility: visible;
                        opacity: 1;
                    }

                    &--showing {
                        width: 200px;
                        height: 165px;
                    }

                    &--hiding {
                        width: 100%;
                        height: 700px;
                        margin-left: 0;
                        transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.5s;

                        &:before {
                            visibility: visible;
                            opacity: 0;
                            transition: none;
                        }

                        .locations__poi {
                            &-title,
                            &-function,
                            &-tagline,
                            &-content,
                            &-close {
                                visibility: hidden;
                                opacity: 0;
                                transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.25s;
                            }
                        }
                    }

                    &--closing {
                        width: 200px;
                        height: 165px;
                        opacity: 1;
                        transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
                    }
                }
            }

            @media screen and (max-width: 992px) {
                padding-bottom: 2rem;

                &__poi {
                    position: relative;
                    left: 0 !important;
                    top: 0 !important;
                    margin-top: 2rem;
                    padding: 2rem;
                    background-color: $color-primary;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;

                    &-title {
                        margin: 0;
                        color: #fff;
                    }

                    &-function {
                        margin: 0;
                        color: #fff;
                    }

                    &-tagline {
                        display: none;
                    }

                    &-content {
                        margin: 1rem 0 0 0;
                        padding: 2rem;
                        background-color: #fff;

                        &:empty {
                            display: none;
                        }
                    }

                    &-close {
                        display: none;
                    }

                    &--large {
                        padding: 0 0 3rem 0;

                        .locations {
                            &__poi {
                                &-title {
                                    padding: 1.5rem 2rem;
                                    background: rgba(255, 255, 255, 0.75);
                                    color: #000;
                                }

                                &-function {
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    display: block;
                                    width: 50%;
                                    margin: 0 0 0 2rem;
                                    padding: 0.25rem 2rem;
                                    background-color: rgba(red($color-primary), green($color-primary), blue($color-primary), 0.75);
                                    font-weight: bold;
                                    color: #fff;
                                }

                                &-tagline {
                                    right: 0;
                                    bottom: 0;
                                    width: 100%;
                                    margin: 0;
                                    padding: 0.5rem 2rem;
                                    background-color: rgba(red($color-primary), green($color-primary), blue($color-primary), 0.75);
                                    font-size: 1rem;
                                    font-style: italic;
                                    line-height: 1rem;
                                    color: #fff;
                                    text-align: left;
                                }

                                &-content {
                                    width: 50%;
                                    margin-top: 1rem;
                                    margin-left: 2rem;
                                }

                                &-close {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes marker-dot-echo {
    0% {
        opacity: 0;
        transform: scale(1.4);
    }

    25% {
        opacity: 1;
    }

    75% {
        transform: scale(1.6);
    }

    100% {
        opacity: 0;
        transform: scale(1.8);
    }
}

@keyframes marker-dot-echo-wide {
    0% {
        opacity: 0;
        transform: scale(1.4);
    }

    25% {
        opacity: 1;
    }

    75% {
        transform: scale(1.8);
    }

    100% {
        opacity: 0;
        transform: scale(2.0);
    }
}




p.locations__poi-function {
    /* background-image: url(//dev.aampglobal.com/content/uploads/cta-intermediary.jpg); */
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
}













a.locations__poi-close:hover {
    color: #fff;
}