.widget {
    &_aampglobal-team-members {
        .team {
            .modal & {
                display: flex;
                height: 600px;
                color: #000;
            }

            &__cards {
                display: flex;

                flex-wrap: wrap;
                justify-content: center;
            }

            &__card {
                height: 400px;
                margin-bottom: 30px;
                cursor: pointer;

                .modal & {
                    cursor: default;
                }

                &-inner {
                    position: relative;
                    height: 100%;
                    background-color: #000;

                    &:before,
                    &:after {
                        position: absolute;
                        display: block;
                        content: "";
                    }

                    &:before {
                        z-index: 10;
                        top: 3%;
                        left: 3%;
                        width: 94%;
                        height: 94%;
                        opacity: 0;
                        border: 1px $color-primary solid;
                        transform: scale(0.7);
                        transform-origin: center center;
                    }

                    &:after {
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        background-color: rgba(0, 0, 0, 0.5);
                        transition: opacity 0.5s ease-out;
                    }
                }

                &-header {
                    position: relative;
                    z-index: 10;
                    display: block;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    padding-right: 2rem;
                    padding-left: 2rem;
                    text-align: center;

                    align-items: center;
                    justify-content: center;

                    .modal & {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 10rem;
                        margin: 0;
                        padding: 0;
                        pointer-events: none;
                    }

                    &-title {
                        display: block;
                        margin: 0;
                        padding: 0;
                        opacity: 0;
                        color: #fff;
                        transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
                        transform: scale(0.9);
                        text-align: center;

                        .modal & {
                            display: block;
                            display: flex;
                            height: 100%;
                            margin-right: 2rem;
                            margin-left: 2rem;
                            opacity: 1;
                            background-color: #fff;
                            color: #000;
                            transform: none;

                            align-items: center;
                            justify-content: center;
                        }
                    }

                    &-subtitle,
                    &-tagline {
                        display: block;
                    }

                    &-subtitle {
                        margin-top: 0.5rem;
                        font-size: 1rem;
                        font-weight: normal;
                        line-height: 1rem;
                    }

                    &-tagline {
                        margin-top: 1rem;
                        padding-top: 1rem;
                        border-top: 1px #fff solid;
                        font-size: 1rem;
                        font-weight: 500;
                        font-style: italic;
                        line-height: 1rem;
                        color: $color-grey-bright;
                        text-transform: none;

                        .modal & {
                            padding: 0.25rem;
                            background-color: $color-primary;
                            color: #fff;
                        }

                        &:before {
                            content: "\201C";
                        }

                        &:after {
                            content: "\201D";
                        }
                    }
                }

                &-content {
                    display: none;

                    .modal & {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        overflow-y: auto;
                        height: 100%;
                        padding: 10rem 2rem 0 2rem;
                    }

                    p {
                        font-size: 1rem;
                        line-height: 1.5rem;
                    }
                }

                &-details {
                    .modal & {
                        position: relative;
                        display: block;
                        display: flex;
                        flex-direction: column;
                        width: 55%;
                        padding: 2rem;

                        @media screen and (max-width: 767px) {
                            width: 100%;
                        }
                    }
                }

                &-imagery {
                    position: absolute;
                    top: 0;
                    left: 0;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;

                    .modal & {
                        position: static;
                        display: flex;
                        width: 45%;

                        @media screen and (max-width: 767px) {
                            display: none;
                        }
                    }

                    &--serious,
                    &--candid {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-position: center top;
                        background-size: cover;
                        transition: opacity 0.5s ease-out, transform 3s ease-out;
                    }

                    &--candid {
                        opacity: 0;
                        transform: scale(0.95);
                        transform-origin: center center;

                        .modal & {
                            position: static;
                            opacity: 1;
                            background-position: center center;
                            transform: none;
                        }
                    }

                    &--serious {
                        opacity: 1;
                    }
                }

                &:hover {
                    .team__card {
                        &-inner {
                            &:before {
                                opacity: 1;
                                transition: opacity 0.5s ease-out, transform 0.65s cubic-bezier(1, -0.01, 0.58, 1) 0.15s;
                                transform: none;
                            }

                            &:after {
                                opacity: 1;
                            }
                        }

                        &-header {
                            &-title {
                                opacity: 1;
                                transition-delay: 0.15s;
                                transform: none;
                            }
                        }

                        &-imagery {
                            &--candid {
                                opacity: 1;
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}