.widget {
    &_aamp-vrm-lookup {
        .vrm-vehicle {
            border: 1px $color-grey solid;

            &__details {
                dl {
                    dd {
                        color: $color-blue;
                    }
                }
            }

            &__photo {
                display: none;
                
                &--empty {
                    border: 1px $color-grey solid;
                    color: $color-primary;
                }
            }

            &-actual {
                background-color: $color-primary;
            }
        }

        .vrm-products {
            .products-wrap {
                .products {
                    margin: 1rem -15px;
                }
            }
        }
    }
}