.quick-links {
    &__outer {
        display: flex;
        flex-direction: row;
        padding: 1.25rem;

        align-items: center;
        justify-content: center;
    }

    &__title {
        display: block;
        margin: 0;
        margin-right: 0.75rem;
        font-size: 0.875rem;
        font-weight: bold;
        white-space: nowrap;
        text-transform: uppercase;
    }

    &__menu {
        position: relative;
        width: auto;
        min-width: 225px;
        padding: 0 2.5rem 0 1.5rem;
        background-color: transparent;
        border: 1px rgba(255, 255, 255, 0.15) solid;
        border-radius: 0;
        font-size: 0.875rem;
        line-height: 0.875rem;
        color: inherit;
        transition: none;
        text-transform: uppercase;
        -moz-appearance: textfield;
        -webkit-appearance: textfield;

        &:focus,
        &:active {
            border: 1px #fff solid;
        }

        &-wrapper {
            position: relative;

            &:after {
                position: absolute;
                z-index: 10;
                top: 1px;
                right: 1px;
                display: block !important;
                width: 2.5rem;
                height: 36px;
                background-color: $color-blue;
                font-size: 1.25rem !important;
                line-height: 36px !important;
                content: $fa-var-caret-down;
                text-align: center;
                pointer-events: none;

                @include fa-icon();
            }
        }
    }
}
