.panel-grid-cell {
    .ag-block-diamond {
        position: relative;

        &:after {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            background-color: inherit;
            position: absolute;
            transform: scale(1.05) rotate(45deg);
            top: 0;
            left: 0;
            opacity: 0.5;
        }

        & > * {
            z-index: 10;
            position: relative;
        }
    }
}
