.widget {
    &_aamp-vrm-lookup {
        .vrm-vehicle {
            margin-bottom: 1rem;
            padding: 2rem;
            border: 1px #000 solid;

            &__details {
                dl {
                    display: block;
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    dt,
                    dd {
                        display: block;
                        float: left;
                        margin: 0 0 0.5rem 0;
                        padding: 0;
                        list-style: none;
                    }

                    dt {
                        clear: both;
                        width: 50%;
                        font-weight: normal;
                    }

                    dd {
                        width: 50%;
                        font-weight: bold;
                        color: #000;
                    }
                }
            }

            &__photo {
                align-self: flex-end;

                &--empty {
                    display: flex;
                    height: 200px;
                    border: 1px #000 solid;
                    color: #000;
                    flex-direction: column;
                    justify-content: center;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: bold;
                    letter-spacing: 1px;
                }
            }

            &-actual {
                position: relative;
                margin-top: -1rem;
                padding: 1rem 2rem;
                background-color: #000;
                color: #fff;
                font-weight: bold;

                &__fields {
                    list-style: none;
                    display: block;
                    margin: 0;
                    padding: 1rem 0;
                    overflow: hidden;

                    li {
                        display: block;
                        float: left;
                        margin: 0 1rem 0 0;
                        padding: 0;
                        min-width: 10%;

                        @media screen and (max-width: 992px) {
                            float: none;
                            margin: 0 0 1rem 0;
                        }
                    }

                    &--label {
                        display: block;
                        font-size: 0.75rem;
                        text-transform: uppercase;
                        font-weight: normal;
                        line-height: 0.75rem;
                        margin-bottom: 0.25rem;
                    }
                }

                p {
                    margin-bottom: 0;
                    font-weight: normal;
                }
            }
        }
    }
}