.widget {
    &_autoleads-newsletter {
        padding: 15px;
        background-color: #000;
        transform-origin: center center;

        .widget {
            &__title {
                position: relative;
                z-index: 10;
                display: flex;
                width: 100%;
                margin-bottom: 0;
                padding: 0;
                font-weight: normal;
                transition: all 0.20s ease-out;

                justify-content: center;

                &:after {
                    display: none;
                }

                a {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    min-height: 82px;
                    padding-left: 112px;
                    font-weight: normal;
                    color: #fff;
                    text-align: left;
                    text-decoration: none;
                    text-transform: uppercase;

                    flex-wrap: wrap;
                    justify-content: center;

                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 82px;
                        height: 82px;
                        margin-right: 1.5rem;
                        background-image: url(../images/icons/icon-mailing-list.png);
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 52px auto;
                        border: 1px #fff solid;
                        content: "";

                        image-rendering: -webkit-optimize-contrast;
                    }
                }
            }

            &__subtitle {
                display: block;
                margin-top: 0.375rem;
                font-size: 0.875rem;
                color: $color-grey;
                transition: all 0.20s ease-out;
            }

            &__content {
                display: none;
                background: #000;
            }
        }
    }
}