.load-more {
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    margin: 1rem auto;
    padding: 0;
    border: none;
    color: $color-primary;
    cursor: pointer;
    transition: all 0.5s ease-out;

    &.hidden {
        display: none;
    }

    &:hover {
        color: $color-red;
        transition: all 0.35s ease-out;

        &:before {
            border-color: $color-red;
            transition: all 0.35s ease-out;
        }
    }

    &:before {
        position: absolute;
        top: 5%;
        left: 5%;
        display: block;
        width: 90%;
        height: 90%;
        border: 12px $color-primary solid;
        border-top-left-radius: 40%;
        border-bottom-right-radius: 40%;
        content: "";
        transition: all 0.5s ease-out;
    }

    &__inner {
        position: absolute;
        top: 5%;
        left: 5%;
        display: flex;
        width: 90%;
        height: 90%;
        text-align: center;

        align-items: center;
    }

    &__label {
        display: block;
        padding: 0 1.5rem 0.75rem;
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1rem;
        text-transform: uppercase;
    }

    &__remaining {
        display: block;
        font-size: 0.75rem;
        font-weight: normal;
        line-height: 0.75rem;
        text-transform: uppercase;
    }
}

a.load-more:hover {
    color: #c12228;
}

.load-more:hover:before {
    border-color: #c12228;
}