.widget {
    &-stores {
        background-color: #000;

        &:hover {
            /* animation: sidebar-widget-hover 0.25s linear; */

            .widget {
                &__title {
                    color: #fff;

                    &:after {
                        background-color: #fff;

                        @include arrow-image(#000);
                    }
                }

                &__subtitle {
                    color: #fff;
                }
            }
        }

        .widget {
            &__title {
                position: relative;
                z-index: 10;
                display: flex;
                width: 100%;
                margin-bottom: 0;
                padding: 0;
                font-weight: normal;

                justify-content: center;

                &:after {
                    position: absolute;
                    top: 0;
                    right: 0.75rem;
                    display: block;
                    width: 50px;
                    height: 40px;
                    margin: 0;
                    background-color: transparent;
                    border: 1px #fff solid;
                    transition: all 0.20s ease-out;
                    transform: translate3d(0, 50%, 0);
                    pointer-events: none;

                    @include arrow-image(#fff);
                }

                a {
                    display: block;
                    width: 100%;
                    padding: 1.25rem 0.75rem;
                    color: #fff;
                    text-decoration: none;
                }
            }

            &__subtitle {
                display: block;
                margin-top: 0.375rem;
                font-size: 0.875rem;
                color: $color-grey;
            }
        }
    }
}