.widget {
    &_aamp-vrm-search {
        .vrm-search {
            background-color: $color-blue;
            color: #fff;

            .widget__title {
                color: #fff;
            }

            &__input {
                input {
                    border: 1px #fff solid;
                    color: $color-blue;
                }
            }

            &__button {
                .btn {
                    background-color: $color-blue;
                    border: 1px #fff solid;
                    color: #fff;
                }
            }
        }
    }
}