@charset "UTF-8";
@import url("https://use.typekit.net/ijj3qpq.css");
@import url("grid.css");
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.fa-handshake-o:before {
  content: ""; }

.fa-envelope-open:before {
  content: ""; }

.fa-envelope-open-o:before {
  content: ""; }

.fa-linode:before {
  content: ""; }

.fa-address-book:before {
  content: ""; }

.fa-address-book-o:before {
  content: ""; }

.fa-vcard:before,
.fa-address-card:before {
  content: ""; }

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: ""; }

.fa-user-circle:before {
  content: ""; }

.fa-user-circle-o:before {
  content: ""; }

.fa-user-o:before {
  content: ""; }

.fa-id-badge:before {
  content: ""; }

.fa-drivers-license:before,
.fa-id-card:before {
  content: ""; }

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: ""; }

.fa-quora:before {
  content: ""; }

.fa-free-code-camp:before {
  content: ""; }

.fa-telegram:before {
  content: ""; }

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: ""; }

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: ""; }

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: ""; }

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: ""; }

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: ""; }

.fa-shower:before {
  content: ""; }

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: ""; }

.fa-podcast:before {
  content: ""; }

.fa-window-maximize:before {
  content: ""; }

.fa-window-minimize:before {
  content: ""; }

.fa-window-restore:before {
  content: ""; }

.fa-times-rectangle:before,
.fa-window-close:before {
  content: ""; }

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: ""; }

.fa-bandcamp:before {
  content: ""; }

.fa-grav:before {
  content: ""; }

.fa-etsy:before {
  content: ""; }

.fa-imdb:before {
  content: ""; }

.fa-ravelry:before {
  content: ""; }

.fa-eercast:before {
  content: ""; }

.fa-microchip:before {
  content: ""; }

.fa-snowflake-o:before {
  content: ""; }

.fa-superpowers:before {
  content: ""; }

.fa-wpexplorer:before {
  content: ""; }

.fa-meetup:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: #1c1c1c;
  font-family: "futura-pt", sans-serif;
  color: #fff; }

.btn {
  min-width: 200px;
  padding: 0.75rem;
  background-color: transparent;
  border: 1px #000 solid;
  border-radius: 0;
  outline: none;
  font-family: "futura-pt", sans-serif;
  font-size: 0.825rem;
  font-weight: bold;
  line-height: 0.825rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }
  .btn:hover, .btn:focus, .btn:active {
    outline: none;
    box-shadow: none; }
  .btn.btn-lg {
    padding: 1rem 0;
    font-size: 1rem;
    line-height: 1rem; }
  .btn.btn-inverse {
    border-color: #fff;
    color: #fff; }
    .btn.btn-inverse:after {
      background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 14"><g id="4477438a-178c-40f4-8fb1-d45516aaadc1"><line y1="7" x2="90.47" y2="7" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/></g><g id="549ff169-4738-4229-8f26-7454b3c484d2"><polygon points="96 7 86.45 0 86.45 14 96 7" fill="#fff"/></g></svg>');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 36px auto; }
  .btn.btn-primary {
    border-color: #5c2f91;
    color: #5c2f91; }
    .btn.btn-primary:after {
      background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 14"><g id="4477438a-178c-40f4-8fb1-d45516aaadc1"><line y1="7" x2="90.47" y2="7" fill="none" stroke="#5c2f91" stroke-miterlimit="10" stroke-width="2"/></g><g id="549ff169-4738-4229-8f26-7454b3c484d2"><polygon points="96 7 86.45 0 86.45 14 96 7" fill="#5c2f91"/></g></svg>');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 36px auto; }
  .btn.btn-secondary {
    background-color: #5c2f91;
    border-color: #393939;
    font-weight: bold;
    color: #fff; }
    .btn.btn-secondary:hover {
      background-color: #fff;
      border-color: #fff;
      color: #5c2f91; }
  .btn.btn-grey {
    background-color: transparent;
    border-color: #b2b2b2;
    font-weight: bold;
    color: #b2b2b2; }
    .btn.btn-grey:hover {
      background-color: transparent;
      border-color: #5c2f91;
      color: #5c2f91; }
  .btn.disabled, .btn:disabled {
    opacity: 1;
    background-color: #fff;
    border-color: #393939;
    color: #393939;
    cursor: not-allowed; }
    .btn.disabled:hover, .btn.disabled:focus, .btn.disabled:active, .btn:disabled:hover, .btn:disabled:focus, .btn:disabled:active {
      background-color: #fff;
      border-color: #393939;
      color: #393939; }
  .btn.btn-circle {
    display: flex;
    width: 32px;
    min-width: 0;
    height: 32px;
    margin: 0 0.25rem;
    padding: 0;
    border: 1px #1c1c1c solid;
    border-radius: 50%;
    color: #000;
    align-items: center;
    justify-content: center; }
    .btn.btn-circle:hover {
      background-color: #000;
      border-color: #000;
      color: #fff; }
    .btn.btn-circle i {
      font-size: 0.625rem;
      line-height: 0.625rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
  font-weight: bold;
  color: #5c2f91;
  text-transform: uppercase;
  align-items: flex-start; }
  h1.text-center,
  h2.text-center,
  h3.text-center,
  h4.text-center,
  h5.text-center,
  h6.text-center {
    align-items: center; }
  h1.text-right,
  h2.text-right,
  h3.text-right,
  h4.text-right,
  h5.text-right,
  h6.text-right {
    align-items: flex-end; }

h3,
h4,
h5,
h6 {
  color: #000; }

.header-alignment-center h1,
.header-alignment-center h2,
.header-alignment-center h3,
.header-alignment-center h4,
.header-alignment-center h5,
.header-alignment-center h6 {
  align-items: center; }

.header-alignment-right h1,
.header-alignment-right h2,
.header-alignment-right h3,
.header-alignment-right h4,
.header-alignment-right h5,
.header-alignment-right h6 {
  align-items: flex-end; }

.text-alignment-center {
  text-align: center; }

.text-alignment-right {
  text-align: center; }

h1,
.heading--h1 {
  font-size: 2.375rem;
  line-height: 2.375rem; }

h2,
.heading--h2 {
  font-size: 2.125rem;
  line-height: 2.125rem; }

h3,
.heading--h3 {
  font-size: 1.75rem;
  line-height: 1.75rem; }

h4,
.heading--h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.5rem; }

h5,
.heading--h5 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.25rem; }

h6,
.heading--h6 {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.125rem; }

p,
ul,
ol {
  font-size: 1.0625rem;
  line-height: 1.5rem; }

p {
  margin: 0 0 1.125rem 0; }

a {
  color: #5c2f91;
  text-decoration: underline; }
  a:hover {
    color: #5c2f91;
    text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }
  img.alignnone {
    margin-bottom: 1rem; }
  img.alignleft {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem; }
  img.alignright {
    float: right;
    margin-bottom: 1rem;
    margin-left: 1rem; }
  img.aligncenter {
    display: block;
    margin: 0 auto; }

main.site-content {
  overflow-x: hidden;
  background-color: #fff;
  color: #1c1c1c; }
  main.site-content > article {
    padding: 2rem 0; }
    body.home main.site-content > article,
    body.margin-style-flush main.site-content > article {
      padding: 0; }
  @media screen and (max-width: 992px) {
    main.site-content .sidebar {
      padding-right: 0;
      padding-left: 0;
      order: 2; } }

.hidden {
  display: none; }

.screen-reader-text {
  position: absolute;
  top: -1000em;
  left: -1000em;
  overflow: hidden;
  width: 1px;
  height: 1px; }

footer.site-footer > .container {
  padding: 0; }

header.masthead {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 76px;
  background-color: #1c1c1c;
  border-bottom: 1px #393939 solid;
  color: #fff; }
  header.masthead .navbar-brand {
    width: 250px;
    margin: 0 0 0 1rem;
    padding: 0;
    text-align: left;
    text-decoration: none; }
    @media screen and (max-width: 1200px) {
      header.masthead .navbar-brand {
        width: 225px; } }
    header.masthead .navbar-brand img {
      width: 90%;
      height: auto;
      image-rendering: -webkit-optimize-contrast; }
  @media screen and (max-width: 992px) {
    header.masthead .navbar-toggler {
      position: absolute;
      top: 14px;
      right: 1rem;
      width: 48px;
      height: 48px;
      padding: 0;
      border: 3px #393939 solid;
      outline: none;
      cursor: pointer;
      transition: all 0.25s cubic-bezier(1, 0, 0, 1); } }
  header.masthead .navbar-toggler-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 1px;
    background: #9f9f9f;
    transition: all 0.25s cubic-bezier(1, 0, 0, 1);
    transform: translateX(-50%); }
    header.masthead .navbar-toggler-bar:first-child {
      transform: translate3d(-50%, -6px, 0); }
    header.masthead .navbar-toggler-bar:last-child {
      transform: translate3d(-50%, 6px, 0); }
    header.masthead .navbar-toggler-bar:nth-child(2):before, header.masthead .navbar-toggler-bar:nth-child(2):after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 18px;
      height: 1px;
      background: #9f9f9f;
      content: "";
      transition: all 0.25s cubic-bezier(1, 0, 0, 1);
      transform: translateX(-50%); }
    header.masthead .navbar-toggler-bar:nth-child(2):before {
      transform: translate3d(-50%, -4px, 0); }
    header.masthead .navbar-toggler-bar:nth-child(2):after {
      transform: translate3d(-50%, 2px, 0); }
  header.masthead .navbar-toggler[aria-expanded="true"] {
    border-width: 6px;
    border-color: #5c2f91; }
    header.masthead .navbar-toggler[aria-expanded="true"] .navbar-toggler-bar {
      background-color: #5c2f91; }
      header.masthead .navbar-toggler[aria-expanded="true"] .navbar-toggler-bar:nth-child(2) {
        opacity: 0;
        transition: all 0.25s cubic-bezier(1, 0, 0, 1); }
        header.masthead .navbar-toggler[aria-expanded="true"] .navbar-toggler-bar:nth-child(2):before, header.masthead .navbar-toggler[aria-expanded="true"] .navbar-toggler-bar:nth-child(2):after {
          background-color: #5c2f91;
          transition: all 0.15s cubic-bezier(1, 0, 0, 1); }
        header.masthead .navbar-toggler[aria-expanded="true"] .navbar-toggler-bar:nth-child(2):before {
          transform: translate3d(-50%, -1px, 0); }
        header.masthead .navbar-toggler[aria-expanded="true"] .navbar-toggler-bar:nth-child(2):after {
          transform: translate3d(-50%, -1px, 0); }
      header.masthead .navbar-toggler[aria-expanded="true"] .navbar-toggler-bar:first-child {
        width: 22px;
        margin-top: 11px;
        margin-left: -8px;
        transition: all 0.25s cubic-bezier(1, 0, 0, 1);
        transform: rotate(45deg) translate3d(-50%, -6px, 0); }
      header.masthead .navbar-toggler[aria-expanded="true"] .navbar-toggler-bar:last-child {
        width: 22px;
        margin-top: -4px;
        margin-left: 1px;
        transition: all 0.25s cubic-bezier(1, 0, 0, 1);
        transform: rotate(-45deg) translate3d(-50%, -6px, 0); }
  header.masthead .navbar {
    height: 100%;
    padding: 0; }
    header.masthead .navbar-collapse {
      height: 100%; }
      @media screen and (max-width: 992px) {
        header.masthead .navbar-collapse {
          position: fixed;
          top: 76px;
          right: -300px;
          display: block;
          overflow-y: auto;
          width: 250px;
          height: 100%;
          opacity: 0;
          background-color: black;
          border-left: 1px #393939 solid;
          transition: right 0.25s ease-out, opacity 0.25s ease-out 0.25s; }
          body.admin-bar header.masthead .navbar-collapse {
            top: 108px; } }
      @media screen and (max-width: 782px) {
        body.admin-bar header.masthead .navbar-collapse {
          top: 122px; } }
      @media screen and (max-width: 992px) {
        header.masthead .navbar-collapse.show {
          right: 0;
          opacity: 1;
          transition: right 0.15s ease-out, opacity 0.15s ease-out; } }
    header.masthead .navbar-nav {
      margin: 0;
      padding: 0; }
      header.masthead .navbar-nav#menu-primary-navigation {
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem; }
        @media screen and (max-width: 1200px) {
          header.masthead .navbar-nav#menu-primary-navigation {
            padding-left: 0;
            align-items: flex-end; } }
        @media screen and (max-width: 992px) {
          header.masthead .navbar-nav#menu-primary-navigation {
            display: block; } }
        header.masthead .navbar-nav#menu-primary-navigation .nav-link {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
          border: 1px #1c1c1c solid;
          font-size: 0.875rem;
          line-height: 0.875rem;
          color: #9f9f9f;
          text-decoration: none;
          text-transform: uppercase; }
          @media screen and (max-width: 1200px) {
            header.masthead .navbar-nav#menu-primary-navigation .nav-link {
              font-size: 0.825rem;
              line-height: 0.825rem; } }
          @media screen and (max-width: 992px) {
            header.masthead .navbar-nav#menu-primary-navigation .nav-link {
              padding-right: 3.25rem;
              padding-left: 1rem;
              border: none;
              font-size: 1rem;
              font-weight: 600;
              line-height: 1rem; } }
        header.masthead .navbar-nav#menu-primary-navigation .nav-item {
          position: relative;
          margin-right: 0.25rem;
          margin-left: 0.25rem; }
          @media screen and (max-width: 1200px) {
            header.masthead .navbar-nav#menu-primary-navigation .nav-item {
              max-width: 100px; } }
          @media screen and (max-width: 992px) {
            header.masthead .navbar-nav#menu-primary-navigation .nav-item {
              display: block;
              width: auto;
              max-width: none;
              margin: 0;
              padding: 0; } }
          header.masthead .navbar-nav#menu-primary-navigation .nav-item .sub-menu-toggle {
            position: absolute;
            top: 0.25rem;
            right: 1rem;
            display: none;
            width: 24px;
            height: 24px;
            background-size: 17px 10px !important;
            line-height: 1rem;
            cursor: pointer;
            transform-origin: center center;
            background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.14 12.5"><polyline points="0.56 0.49 10.07 11.36 19.58 0.49" fill="none" stroke="#393939" stroke-miterlimit="10" stroke-width="1.5"/></svg>');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 21px 13px; }
            @media screen and (max-width: 992px) {
              header.masthead .navbar-nav#menu-primary-navigation .nav-item .sub-menu-toggle {
                display: inline-block; } }
            header.masthead .navbar-nav#menu-primary-navigation .nav-item .sub-menu-toggle i {
              display: none; }
          header.masthead .navbar-nav#menu-primary-navigation .nav-item ul.sub-menu {
            position: absolute;
            top: auto;
            left: 0;
            display: block;
            min-width: 200px;
            margin: 0;
            padding: 0;
            opacity: 0;
            background-color: #1c1c1c;
            border-top: 5px #5c2f91 solid;
            border-right: 1px #393939 solid;
            border-bottom: 1px #393939 solid;
            border-left: 1px #393939 solid;
            list-style: none;
            color: #fff;
            transform: scale(0.9) translateY(-15px);
            transform-origin: center center;
            white-space: nowrap;
            pointer-events: none; }
            @media screen and (max-width: 992px) {
              header.masthead .navbar-nav#menu-primary-navigation .nav-item ul.sub-menu {
                position: static;
                display: none;
                visibility: visible;
                min-width: 0;
                margin-top: 0;
                margin-bottom: 1rem;
                opacity: 1;
                background-color: transparent;
                border-top: 1px #393939 solid;
                border-right: none;
                border-bottom: 1px #393939 solid;
                border-left: none;
                transform: none;
                white-space: normal; } }
            header.masthead .navbar-nav#menu-primary-navigation .nav-item ul.sub-menu .nav-item {
              max-width: none;
              margin: 0;
              padding: 0; }
              header.masthead .navbar-nav#menu-primary-navigation .nav-item ul.sub-menu .nav-item:hover > .nav-link, header.masthead .navbar-nav#menu-primary-navigation .nav-item ul.sub-menu .nav-item.current-menu-item > .nav-link {
                background-color: #5c2f91;
                border: none;
                color: #fff; }
                @media screen and (max-width: 992px) {
                  header.masthead .navbar-nav#menu-primary-navigation .nav-item ul.sub-menu .nav-item:hover > .nav-link, header.masthead .navbar-nav#menu-primary-navigation .nav-item ul.sub-menu .nav-item.current-menu-item > .nav-link {
                    background-color: #393939; } }
            header.masthead .navbar-nav#menu-primary-navigation .nav-item ul.sub-menu .nav-link {
              border: none;
              color: #9f9f9f; }
              @media screen and (max-width: 992px) {
                header.masthead .navbar-nav#menu-primary-navigation .nav-item ul.sub-menu .nav-link:before {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 1rem;
                  height: 100%;
                  background-color: #393939;
                  content: ""; } }
              @media screen and (max-width: 992px) {
                header.masthead .navbar-nav#menu-primary-navigation .nav-item ul.sub-menu .nav-link {
                  padding-right: 1.5rem;
                  padding-left: 1.75rem;
                  font-size: 0.875rem;
                  font-weight: normal;
                  line-height: 0.875rem;
                  color: #9f9f9f; } }
          header.masthead .navbar-nav#menu-primary-navigation .nav-item:hover > .nav-link {
            border: 1px #5c2f91 solid;
            color: #fff; }
            @media screen and (max-width: 992px) {
              header.masthead .navbar-nav#menu-primary-navigation .nav-item:hover > .nav-link {
                border: none; } }
          header.masthead .navbar-nav#menu-primary-navigation .nav-item:hover > ul.sub-menu {
            pointer-events: all; }
            @media screen and (min-width: 992px) {
              header.masthead .navbar-nav#menu-primary-navigation .nav-item:hover > ul.sub-menu {
                visibility: visible;
                opacity: 1;
                transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
                transform: scale(1); } }
          header.masthead .navbar-nav#menu-primary-navigation .nav-item--expanded > ul.sub-menu {
            pointer-events: all; }
            @media screen and (max-width: 992px) {
              header.masthead .navbar-nav#menu-primary-navigation .nav-item--expanded > ul.sub-menu {
                display: block;
                transition: none;
                transform: none; } }
          header.masthead .navbar-nav#menu-primary-navigation .nav-item.current-menu-item > .nav-link, header.masthead .navbar-nav#menu-primary-navigation .nav-item.current-menu-ancestor > .nav-link, header.masthead .navbar-nav#menu-primary-navigation .nav-item.current-menu-parent > .nav-link {
            background-color: #5c2f91;
            color: #fff; }
          header.masthead .navbar-nav#menu-primary-navigation .nav-item.current-menu-item .sub-menu-toggle, header.masthead .navbar-nav#menu-primary-navigation .nav-item.current-menu-ancestor .sub-menu-toggle, header.masthead .navbar-nav#menu-primary-navigation .nav-item.current-menu-parent .sub-menu-toggle {
            background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.14 12.5"><polyline points="0.56 0.49 10.07 11.36 19.58 0.49" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1.5"/></svg>');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 21px 13px; }
    header.masthead .navbar-social {
      display: flex;
      flex-direction: row;
      height: 100%;
      margin: 0;
      padding: 0 1rem;
      border-left: 1px #393939 solid;
      list-style: none;
      white-space: nowrap;
      align-items: center; }
      @media screen and (max-width: 1200px) {
        header.masthead .navbar-social {
          padding: 0 0.25rem; } }
      @media screen and (max-width: 992px) {
        header.masthead .navbar-social {
          height: auto;
          padding: 0.5rem 1rem 0 1rem;
          border-top: 1px #393939 solid;
          border-left: none; } }
      header.masthead .navbar-social > li {
        position: relative;
        display: inline-block;
        width: 32px;
        height: 32px;
        margin: 0 0.125rem;
        padding: 0;
        list-style: none;
        color: #9f9f9f; }
        @media screen and (min-width: 992px) and (max-width: 1200px) {
          header.masthead .navbar-social > li {
            width: 24px;
            height: 24px; } }
        @media screen and (max-width: 992px) {
          header.masthead .navbar-social > li {
            margin: 0; } }
        header.masthead .navbar-social > li:before {
          position: absolute;
          display: block;
          width: 32px;
          height: 32px;
          line-height: 32px;
          text-align: center; }
          @media screen and (min-width: 992px) and (max-width: 1200px) {
            header.masthead .navbar-social > li:before {
              width: 24px;
              height: 24px;
              line-height: 24px; } }
          @media screen and (max-width: 992px) {
            header.masthead .navbar-social > li:before {
              text-align: left; } }
        header.masthead .navbar-social > li:hover {
          color: #fff; }
        header.masthead .navbar-social > li > a {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 32px;
          height: 32px;
          font-size: 0;
          line-height: 0; }
          @media screen and (min-width: 992px) and (max-width: 1200px) {
            header.masthead .navbar-social > li > a {
              width: 24px;
              height: 24px; } }
  header.masthead + main.site-content {
    padding-top: 76px; }

a[href*="mailto:"]:before {
  padding-right: 0.25rem;
  font-size: 90% !important;
  content: "";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.list__columns--two, .list__columns--two-unstyled, .list__columns--three, .list__columns--three-unstyled {
  margin-right: 0;
  margin-left: 0;
  padding: 0; }

.list__columns--two-unstyled, .list__columns--three-unstyled {
  list-style: none; }
  .list__columns--two-unstyled > li, .list__columns--three-unstyled > li {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none; }

.list__columns--two, .list__columns--two-unstyled {
  columns: 2; }

.list__columns--three, .list__columns--three-unstyled {
  columns: 3; }

.list__styled {
  padding: 0;
  list-style: none; }
  .list__styled > li {
    position: relative;
    padding-right: 0;
    padding-left: 1.25rem; }
    .list__styled > li:before {
      position: absolute;
      top: 2px;
      left: 0;
      font-size: 75% !important;
      line-height: inherit !important;
      content: "";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }

.loader[data-static-loader="true"] {
  position: relative;
  top: 50%;
  left: 50%;
  display: block;
  width: 75px;
  height: 75px;
  margin: 0 0 0 -37.5px;
  border: 2px solid transparent;
  border-top-color: #5c2f91;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: anim-static-loader-spin 2s linear infinite; }
  .loader[data-static-loader="true"]:before, .loader[data-static-loader="true"]:after {
    position: absolute;
    border-radius: 50%;
    content: ""; }
  .loader[data-static-loader="true"]:before {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 1px solid transparent;
    border-top-color: #8149c4;
    -webkit-animation: anim-static-loader-spin 3s linear infinite;
    animation: anim-static-loader-spin 3s linear infinite; }
  .loader[data-static-loader="true"]:after {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 2px solid transparent;
    border-top-color: #decff0;
    -webkit-animation: anim-static-loader-spin 1.5s linear infinite;
    animation: anim-static-loader-spin 1.5s linear infinite; }

@-webkit-keyframes anim-static-loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes anim-static-loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

.page-heading {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 160px;
  padding: 3rem 0;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  align-items: center;
  justify-content: center; }
  .page-heading:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    content: ""; }

.page-title, .page-section {
  position: relative;
  z-index: 10; }

.page-title {
  display: block;
  max-width: 75%;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase; }
  @media screen and (max-width: 767px) {
    .page-title {
      font-size: 2rem;
      line-height: 2rem; } }
  @media screen and (max-width: 576px) {
    .page-title {
      font-size: 1.5rem;
      line-height: 1.5rem; } }

.page-subtitle {
  display: block;
  max-width: 65%;
  margin: 0.25rem 0 0 0;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.125rem;
  color: #b2b2b2;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase; }
  .page-subtitle strong {
    color: #fff; }

.sidebar .widget {
  margin: 0 0 1rem 0;
  padding: 0;
  border: 1px #5c2f91 solid; }
  .sidebar .widget__title {
    padding: 1rem;
    background-color: #5c2f91;
    font-size: 1rem;
    line-height: 1rem;
    color: #fff; }

@media screen and (min-width: 767px) and (max-width: 992px) {
  .modal-dialog {
    max-width: 700px; } }

.modal-content {
  border-radius: 0; }

.post-tile {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  border: 1px #5c2f91 solid; }
  .post-tile__image {
    width: 40%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .post-tile__content {
    padding: 1rem; }

.so-widget-aamp-card-icon {
  position: relative; }
  .so-widget-aamp-card-icon .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    height: 85px; }
    @media screen and (min-width: 992px) and (max-width: 1337px), screen and (max-width: 767px) {
      .so-widget-aamp-card-icon .icon {
        position: relative;
        margin: 0 auto 3rem auto; } }
    .so-widget-aamp-card-icon .icon__image {
      position: relative;
      z-index: 10;
      top: 15px;
      left: 15px;
      width: 55px;
      height: 55px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; }
    .so-widget-aamp-card-icon .icon__inner {
      display: block;
      width: 85px;
      height: 85px; }
      .so-widget-aamp-card-icon .icon__inner:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 85px;
        height: 85px;
        opacity: 0.5;
        background-color: inherit;
        content: "";
        transform: scale(1.05) rotate(45deg); }
  .so-widget-aamp-card-icon .content {
    position: relative;
    margin-left: 115px; }
    @media screen and (min-width: 992px) and (max-width: 1337px), screen and (max-width: 767px) {
      .so-widget-aamp-card-icon .content {
        margin-left: 0;
        text-align: center; } }

.widget_aamp-custom-headline .section-title {
  margin-bottom: 0; }
  .widget_aamp-custom-headline .section-title__subtitle {
    font-weight: 500;
    margin-top: 0.25rem; }

.widget_aamp-custom-headline h1 .section-title__subtitle {
  font-size: 1.75rem;
  line-height: 1.75rem; }

.widget_aamp-custom-headline h2 .section-title__subtitle {
  font-size: 1.5rem;
  line-height: 1.5rem; }

.widget_aamp-custom-headline h3 .section-title__subtitle {
  font-size: 1.25rem;
  line-height: 1.25rem; }

.widget_aamp-custom-headline h4 .section-title__subtitle,
.widget_aamp-custom-headline h5 .section-title__subtitle,
.widget_aamp-custom-headline h6 .section-title__subtitle {
  font-size: 1rem;
  line-height: 1rem; }

.widget_aampglobal-location-map {
  overflow: hidden;
  background-color: #e0e0e0; }
  .widget_aampglobal-location-map .location-map {
    height: 700px; }
    @media screen and (max-width: 992px) {
      .widget_aampglobal-location-map .location-map {
        display: none; } }
    .widget_aampglobal-location-map .location-map .amcharts-chart-div {
      padding: 2rem 0; }
      .widget_aampglobal-location-map .location-map .amcharts-chart-div > svg {
        opacity: 0; }
      .widget_aampglobal-location-map .location-map .amcharts-chart-div--initialized > svg {
        opacity: 1;
        transition: all 0.75s ease-out; }
  .widget_aampglobal-location-map .map-marker {
    position: absolute;
    width: 20px;
    height: 20px;
    transform: translateX(-10px) translateY(-10px); }
    .widget_aampglobal-location-map .map-marker__tooltip {
      position: relative;
      z-index: 11;
      top: 20px;
      left: 10px;
      display: block;
      width: 150px;
      padding: 0.35rem;
      background: #5c2f91;
      opacity: 0;
      font-size: 0.75rem;
      line-height: 0.75rem;
      color: #fff;
      transition: opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
      transform: scale(1.2);
      pointer-events: none; }
      .widget_aampglobal-location-map .map-marker__tooltip:before {
        position: absolute;
        top: -10px;
        left: 0;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #5c2f91;
        content: ""; }
      .widget_aampglobal-location-map .map-marker__tooltip-title, .widget_aampglobal-location-map .map-marker__tooltip-purpose {
        display: block; }
      .widget_aampglobal-location-map .map-marker__tooltip-title {
        text-transform: uppercase; }
      .widget_aampglobal-location-map .map-marker__tooltip-purpose {
        font-style: italic; }
      .widget_aampglobal-location-map .map-marker__tooltip--card {
        position: relative;
        top: 0;
        left: 15px;
        width: 200px;
        height: 165px;
        padding: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border: none;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        transform: translateX(-50%) translateY(-100%) scale(1.2); }
        .widget_aampglobal-location-map .map-marker__tooltip--card:before {
          position: absolute;
          top: auto;
          bottom: -20px;
          left: 50%;
          width: 0;
          height: 0;
          border-top: 10px solid #fff;
          border-right: 10px solid transparent;
          border-left: 10px solid transparent;
          content: "";
          transform: translateX(-50%); }
        .widget_aampglobal-location-map .map-marker__tooltip--card .map-marker__tooltip-title {
          position: relative;
          top: 115px;
          left: 0;
          width: 100%;
          height: 50px;
          padding: 0.5rem 3rem 0.5rem 0.5rem;
          background-color: #fff;
          border: none;
          font-size: 0.75rem;
          font-weight: normal;
          line-height: 0.75rem;
          color: #000;
          text-transform: uppercase;
          align-content: center;
          align-items: center; }
          .widget_aampglobal-location-map .map-marker__tooltip--card .map-marker__tooltip-title:before {
            position: absolute;
            top: 0;
            right: 0.5rem;
            width: 35px;
            height: 35px;
            background-color: #5c2f91;
            border: 2px #fff solid;
            border-radius: 50%;
            font-size: 0.875rem !important;
            line-height: 31px !important;
            color: #fff;
            content: "";
            transform: translateY(-50%);
            text-align: center;
            text-indent: 3px;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale; }
        .widget_aampglobal-location-map .map-marker__tooltip--card .map-marker__tooltip-purpose {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          padding: 0.35rem 0.35rem 0.45rem 0.35rem;
          background-color: rgba(0, 0, 0, 0.35);
          font-size: 0.75rem;
          font-style: italic;
          line-height: 0.75rem;
          color: #fff;
          text-align: left; }
        .widget_aampglobal-location-map .map-marker__tooltip--card .map-marker__tooltip-image {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 115px;
          background-repeat: no-repeat;
          background-position: center center; }
    .widget_aampglobal-location-map .map-marker__dot {
      position: absolute;
      z-index: 10;
      width: 20px;
      height: 20px;
      opacity: 0;
      background-color: #5c2f91;
      border: 3px #fff solid;
      border-radius: 50%;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
      transform: scale(0.2);
      transform-origin: center center; }
      .widget_aampglobal-location-map .map-marker__dot:hover {
        background-color: #fff;
        border-color: #5c2f91; }
    .widget_aampglobal-location-map .map-marker--large {
      width: 30px;
      height: 30px;
      transform: translateX(-15px) translateY(-15px); }
      .widget_aampglobal-location-map .map-marker--large .map-marker__dot {
        width: 30px;
        height: 30px;
        background-image: url(../../widgets/aampglobal-location-map/assets/images/large-location-aamp-icon.png);
        background-repeat: no-repeat;
        background-position: -7px 3px;
        background-size: 150%; }
        .widget_aampglobal-location-map .map-marker--large .map-marker__dot:before, .widget_aampglobal-location-map .map-marker--large .map-marker__dot:after {
          position: absolute;
          width: 100%;
          height: 100%;
          border: 1px #5c2f91 solid;
          border-radius: 50%;
          content: "";
          transform: scale(1.2);
          transform-origin: center center;
          animation: 2.5s marker-dot-echo infinite; }
        .widget_aampglobal-location-map .map-marker--large .map-marker__dot:after {
          animation: 2.5s marker-dot-echo-wide 1.5s infinite; }
    .widget_aampglobal-location-map .map-marker:nth-child(1) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.1s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.1s; }
    .widget_aampglobal-location-map .map-marker:nth-child(2) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.2s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.2s; }
    .widget_aampglobal-location-map .map-marker:nth-child(3) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.3s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.3s; }
    .widget_aampglobal-location-map .map-marker:nth-child(4) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.4s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.4s; }
    .widget_aampglobal-location-map .map-marker:nth-child(5) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.5s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.5s; }
    .widget_aampglobal-location-map .map-marker:nth-child(6) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.6s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.6s; }
    .widget_aampglobal-location-map .map-marker:nth-child(7) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.7s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.7s; }
    .widget_aampglobal-location-map .map-marker:nth-child(8) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.8s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.8s; }
    .widget_aampglobal-location-map .map-marker:nth-child(9) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.9s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.9s; }
    .widget_aampglobal-location-map .map-marker:nth-child(10) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1s; }
    .widget_aampglobal-location-map .map-marker:nth-child(11) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.1s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.1s; }
    .widget_aampglobal-location-map .map-marker:nth-child(12) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.2s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.2s; }
    .widget_aampglobal-location-map .map-marker:nth-child(13) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.3s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.3s; }
    .widget_aampglobal-location-map .map-marker:nth-child(14) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.4s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.4s; }
    .widget_aampglobal-location-map .map-marker:nth-child(15) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.5s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.5s; }
    .widget_aampglobal-location-map .map-marker:nth-child(16) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.6s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.6s; }
    .widget_aampglobal-location-map .map-marker:nth-child(17) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.7s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.7s; }
    .widget_aampglobal-location-map .map-marker:nth-child(18) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.8s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.8s; }
    .widget_aampglobal-location-map .map-marker:nth-child(19) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.9s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1.9s; }
    .widget_aampglobal-location-map .map-marker:nth-child(20) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2s; }
    .widget_aampglobal-location-map .map-marker:nth-child(21) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2.1s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2.1s; }
    .widget_aampglobal-location-map .map-marker:nth-child(22) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2.2s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2.2s; }
    .widget_aampglobal-location-map .map-marker:nth-child(23) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2.3s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2.3s; }
    .widget_aampglobal-location-map .map-marker:nth-child(24) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2.4s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2.4s; }
    .widget_aampglobal-location-map .map-marker:nth-child(25) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2.5s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2.5s; }
    .widget_aampglobal-location-map .map-marker:nth-child(26) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2.6s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2.6s; }
    .widget_aampglobal-location-map .map-marker:nth-child(27) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2.7s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2.7s; }
    .widget_aampglobal-location-map .map-marker:nth-child(28) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2.8s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2.8s; }
    .widget_aampglobal-location-map .map-marker:nth-child(29) .map-marker__dot {
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2.9s, transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2.9s; }
    .widget_aampglobal-location-map .map-marker--initialized .map-marker__dot {
      opacity: 1;
      transform: scale(1); }
    .widget_aampglobal-location-map .map-marker--initialized.map-marker--large .map-marker__dot {
      transform: scale(1.2); }
    .widget_aampglobal-location-map .map-marker--open, .widget_aampglobal-location-map .map-marker--sticky {
      z-index: 20; }
      .widget_aampglobal-location-map .map-marker--open .map-marker__dot, .widget_aampglobal-location-map .map-marker--sticky .map-marker__dot {
        background-color: #fff;
        border-color: #5c2f91; }
      .widget_aampglobal-location-map .map-marker--open .map-marker__tooltip, .widget_aampglobal-location-map .map-marker--sticky .map-marker__tooltip {
        display: block;
        opacity: 1;
        transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        transform: scale(1);
        pointer-events: all; }
        .widget_aampglobal-location-map .map-marker--open .map-marker__tooltip--card, .widget_aampglobal-location-map .map-marker--sticky .map-marker__tooltip--card {
          transform: translateX(-50%) translateY(-100%) scale(1); }
      .widget_aampglobal-location-map .map-marker--open.map-marker--large .map-marker__dot, .widget_aampglobal-location-map .map-marker--sticky.map-marker--large .map-marker__dot {
        background-image: url(../../widgets/aampglobal-location-map/assets/images/large-location-aamp-icon-highlighted.png); }
  @media screen and (min-width: 992px) {
    .widget_aampglobal-location-map .locations__poi {
      position: absolute;
      z-index: 100;
      display: block;
      visibility: hidden;
      overflow: hidden;
      width: 200px;
      height: 165px;
      margin-left: 15px;
      opacity: 0;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
      transform-origin: center center; }
      .widget_aampglobal-location-map .locations__poi:before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        visibility: visible;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-color: #fff;
        content: "";
        pointer-events: none; }
      .widget_aampglobal-location-map .locations__poi-title, .widget_aampglobal-location-map .locations__poi-function {
        position: absolute;
        display: block;
        width: 100%;
        margin: 0; }
      .widget_aampglobal-location-map .locations__poi-title {
        top: 0;
        height: 140px;
        padding: 0.25rem 10rem 0.25rem 0.5rem;
        text-shadow: 2px 2px 0 #000;
        font-size: 5rem;
        font-weight: normal;
        line-height: 4rem;
        color: #fff; }
      .widget_aampglobal-location-map .locations__poi-function {
        position: absolute;
        bottom: 0;
        padding: 0.25rem 0.35rem;
        background-color: #1c1c1c;
        font-size: 1rem;
        font-weight: bold;
        font-style: normal;
        line-height: 2rem;
        color: #fff;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase; }
      .widget_aampglobal-location-map .locations__poi-tagline {
        display: block;
        width: 767px;
        margin: 160px auto 0 auto;
        padding: 1rem 2rem;
        background: #5c2f91;
        font-size: 1.35rem;
        font-weight: bold;
        font-style: italic;
        line-height: 34px;
        color: #c4a9e3; }
      .widget_aampglobal-location-map .locations__poi-content {
        display: block;
        overflow-y: auto;
        width: 767px;
        max-height: 450px;
        margin: 0 auto;
        padding: 2rem;
        background-color: #fff; }
      .widget_aampglobal-location-map .locations__poi-close {
        position: absolute;
        top: 0.85rem;
        right: 0.5rem;
        display: block;
        font-size: 0;
        line-height: 0;
        color: #e0e0e0;
        transition: all 0.25s ease-out 0s !important;
        white-space: nowrap;
        text-decoration: none; }
        .widget_aampglobal-location-map .locations__poi-close:before, .widget_aampglobal-location-map .locations__poi-close:after {
          display: block; }
        .widget_aampglobal-location-map .locations__poi-close:before {
          float: left;
          margin-right: 0.5rem;
          font-size: 1.25rem;
          font-weight: bold;
          line-height: 42px;
          content: "Return";
          text-transform: uppercase; }
        .widget_aampglobal-location-map .locations__poi-close:after {
          float: right;
          width: 42px;
          height: 42px;
          font-size: 2rem !important;
          line-height: 42px !important;
          content: "";
          text-align: center;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
      .widget_aampglobal-location-map .locations__poi-title, .widget_aampglobal-location-map .locations__poi-function, .widget_aampglobal-location-map .locations__poi-tagline, .widget_aampglobal-location-map .locations__poi-content, .widget_aampglobal-location-map .locations__poi-close {
        visibility: hidden;
        opacity: 0;
        transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28); }
      .widget_aampglobal-location-map .locations__poi--open {
        visibility: visible;
        width: 100%;
        height: 700px;
        margin-left: 0;
        opacity: 1; }
        .widget_aampglobal-location-map .locations__poi--open:before {
          visibility: hidden;
          opacity: 0;
          transition: all 1s ease-out; }
        .widget_aampglobal-location-map .locations__poi--open .locations__poi-title, .widget_aampglobal-location-map .locations__poi--open .locations__poi-function, .widget_aampglobal-location-map .locations__poi--open .locations__poi-tagline, .widget_aampglobal-location-map .locations__poi--open .locations__poi-content, .widget_aampglobal-location-map .locations__poi--open .locations__poi-close {
          visibility: visible;
          opacity: 1;
          transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28); }
        .widget_aampglobal-location-map .locations__poi--open .locations__poi-title, .widget_aampglobal-location-map .locations__poi--open .locations__poi-close {
          transition-delay: 0.5s; }
        .widget_aampglobal-location-map .locations__poi--open .locations__poi-tagline {
          transition-delay: 1s; }
        .widget_aampglobal-location-map .locations__poi--open .locations__poi-content {
          transition-delay: 1s; }
        .widget_aampglobal-location-map .locations__poi--open .locations__poi-function {
          transition-delay: 0.5s; }
      .widget_aampglobal-location-map .locations__poi--showing, .widget_aampglobal-location-map .locations__poi--hiding {
        visibility: visible;
        opacity: 1; }
      .widget_aampglobal-location-map .locations__poi--showing {
        width: 200px;
        height: 165px; }
      .widget_aampglobal-location-map .locations__poi--hiding {
        width: 100%;
        height: 700px;
        margin-left: 0;
        transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.5s; }
        .widget_aampglobal-location-map .locations__poi--hiding:before {
          visibility: visible;
          opacity: 0;
          transition: none; }
        .widget_aampglobal-location-map .locations__poi--hiding .locations__poi-title, .widget_aampglobal-location-map .locations__poi--hiding .locations__poi-function, .widget_aampglobal-location-map .locations__poi--hiding .locations__poi-tagline, .widget_aampglobal-location-map .locations__poi--hiding .locations__poi-content, .widget_aampglobal-location-map .locations__poi--hiding .locations__poi-close {
          visibility: hidden;
          opacity: 0;
          transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.25s; }
      .widget_aampglobal-location-map .locations__poi--closing {
        width: 200px;
        height: 165px;
        opacity: 1;
        transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s; } }
  @media screen and (max-width: 992px) {
    .widget_aampglobal-location-map .locations {
      padding-bottom: 2rem; }
      .widget_aampglobal-location-map .locations__poi {
        position: relative;
        left: 0 !important;
        top: 0 !important;
        margin-top: 2rem;
        padding: 2rem;
        background-color: #5c2f91;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
        .widget_aampglobal-location-map .locations__poi-title {
          margin: 0;
          color: #fff; }
        .widget_aampglobal-location-map .locations__poi-function {
          margin: 0;
          color: #fff; }
        .widget_aampglobal-location-map .locations__poi-tagline {
          display: none; }
        .widget_aampglobal-location-map .locations__poi-content {
          margin: 1rem 0 0 0;
          padding: 2rem;
          background-color: #fff; }
          .widget_aampglobal-location-map .locations__poi-content:empty {
            display: none; }
        .widget_aampglobal-location-map .locations__poi-close {
          display: none; }
        .widget_aampglobal-location-map .locations__poi--large {
          padding: 0 0 3rem 0; }
          .widget_aampglobal-location-map .locations__poi--large .locations__poi-title {
            padding: 1.5rem 2rem;
            background: rgba(255, 255, 255, 0.75);
            color: #000; }
          .widget_aampglobal-location-map .locations__poi--large .locations__poi-function {
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 50%;
            margin: 0 0 0 2rem;
            padding: 0.25rem 2rem;
            background-color: rgba(92, 47, 145, 0.75);
            font-weight: bold;
            color: #fff; }
          .widget_aampglobal-location-map .locations__poi--large .locations__poi-tagline {
            right: 0;
            bottom: 0;
            width: 100%;
            margin: 0;
            padding: 0.5rem 2rem;
            background-color: rgba(92, 47, 145, 0.75);
            font-size: 1rem;
            font-style: italic;
            line-height: 1rem;
            color: #fff;
            text-align: left; }
          .widget_aampglobal-location-map .locations__poi--large .locations__poi-content {
            width: 50%;
            margin-top: 1rem;
            margin-left: 2rem; }
          .widget_aampglobal-location-map .locations__poi--large .locations__poi-close {
            display: none; } }

@keyframes marker-dot-echo {
  0% {
    opacity: 0;
    transform: scale(1.4); }
  25% {
    opacity: 1; }
  75% {
    transform: scale(1.6); }
  100% {
    opacity: 0;
    transform: scale(1.8); } }

@keyframes marker-dot-echo-wide {
  0% {
    opacity: 0;
    transform: scale(1.4); }
  25% {
    opacity: 1; }
  75% {
    transform: scale(1.8); }
  100% {
    opacity: 0;
    transform: scale(2); } }

p.locations__poi-function {
  /* background-image: url(//dev.aampglobal.com/content/uploads/cta-intermediary.jpg); */
  /* background-repeat: no-repeat; */
  /* background-position: center center; */ }

a.locations__poi-close:hover {
  color: #fff; }

.sow-accordion-panel-border {
  overflow: hidden; }

.sow-accordion h1, .sow-accordion h2, .sow-accordion h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.5rem; }

.panel-grid-cell .ag-block-diamond {
  position: relative; }
  .panel-grid-cell .ag-block-diamond:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-color: inherit;
    position: absolute;
    transform: scale(1.05) rotate(45deg);
    top: 0;
    left: 0;
    opacity: 0.5; }
  .panel-grid-cell .ag-block-diamond > * {
    z-index: 10;
    position: relative; }

.modal .widget_aampglobal-team-members .team {
  display: flex;
  height: 600px;
  color: #000; }

.widget_aampglobal-team-members .team__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.widget_aampglobal-team-members .team__card {
  height: 400px;
  margin-bottom: 30px;
  cursor: pointer; }
  .modal .widget_aampglobal-team-members .team__card {
    cursor: default; }
  .widget_aampglobal-team-members .team__card-inner {
    position: relative;
    height: 100%;
    background-color: #000; }
    .widget_aampglobal-team-members .team__card-inner:before, .widget_aampglobal-team-members .team__card-inner:after {
      position: absolute;
      display: block;
      content: ""; }
    .widget_aampglobal-team-members .team__card-inner:before {
      z-index: 10;
      top: 3%;
      left: 3%;
      width: 94%;
      height: 94%;
      opacity: 0;
      border: 1px #5c2f91 solid;
      transform: scale(0.7);
      transform-origin: center center; }
    .widget_aampglobal-team-members .team__card-inner:after {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.5);
      transition: opacity 0.5s ease-out; }
  .widget_aampglobal-team-members .team__card-header {
    position: relative;
    z-index: 10;
    display: block;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center; }
    .modal .widget_aampglobal-team-members .team__card-header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 10rem;
      margin: 0;
      padding: 0;
      pointer-events: none; }
    .widget_aampglobal-team-members .team__card-header-title {
      display: block;
      margin: 0;
      padding: 0;
      opacity: 0;
      color: #fff;
      transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
      transform: scale(0.9);
      text-align: center; }
      .modal .widget_aampglobal-team-members .team__card-header-title {
        display: block;
        display: flex;
        height: 100%;
        margin-right: 2rem;
        margin-left: 2rem;
        opacity: 1;
        background-color: #fff;
        color: #000;
        transform: none;
        align-items: center;
        justify-content: center; }
    .widget_aampglobal-team-members .team__card-header-subtitle, .widget_aampglobal-team-members .team__card-header-tagline {
      display: block; }
    .widget_aampglobal-team-members .team__card-header-subtitle {
      margin-top: 0.5rem;
      font-size: 1rem;
      font-weight: normal;
      line-height: 1rem; }
    .widget_aampglobal-team-members .team__card-header-tagline {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px #fff solid;
      font-size: 1rem;
      font-weight: 500;
      font-style: italic;
      line-height: 1rem;
      color: #b2b2b2;
      text-transform: none; }
      .modal .widget_aampglobal-team-members .team__card-header-tagline {
        padding: 0.25rem;
        background-color: #5c2f91;
        color: #fff; }
      .widget_aampglobal-team-members .team__card-header-tagline:before {
        content: "\201C"; }
      .widget_aampglobal-team-members .team__card-header-tagline:after {
        content: "\201D"; }
  .widget_aampglobal-team-members .team__card-content {
    display: none; }
    .modal .widget_aampglobal-team-members .team__card-content {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      overflow-y: auto;
      height: 100%;
      padding: 10rem 2rem 0 2rem; }
    .widget_aampglobal-team-members .team__card-content p {
      font-size: 1rem;
      line-height: 1.5rem; }
  .modal .widget_aampglobal-team-members .team__card-details {
    position: relative;
    display: block;
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 2rem; }
    @media screen and (max-width: 767px) {
      .modal .widget_aampglobal-team-members .team__card-details {
        width: 100%; } }
  .widget_aampglobal-team-members .team__card-imagery {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%; }
    .modal .widget_aampglobal-team-members .team__card-imagery {
      position: static;
      display: flex;
      width: 45%; }
      @media screen and (max-width: 767px) {
        .modal .widget_aampglobal-team-members .team__card-imagery {
          display: none; } }
    .widget_aampglobal-team-members .team__card-imagery--serious, .widget_aampglobal-team-members .team__card-imagery--candid {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
      transition: opacity 0.5s ease-out, transform 3s ease-out; }
    .widget_aampglobal-team-members .team__card-imagery--candid {
      opacity: 0;
      transform: scale(0.95);
      transform-origin: center center; }
      .modal .widget_aampglobal-team-members .team__card-imagery--candid {
        position: static;
        opacity: 1;
        background-position: center center;
        transform: none; }
    .widget_aampglobal-team-members .team__card-imagery--serious {
      opacity: 1; }
  .widget_aampglobal-team-members .team__card:hover .team__card-inner:before {
    opacity: 1;
    transition: opacity 0.5s ease-out, transform 0.65s cubic-bezier(1, -0.01, 0.58, 1) 0.15s;
    transform: none; }
  .widget_aampglobal-team-members .team__card:hover .team__card-inner:after {
    opacity: 1; }
  .widget_aampglobal-team-members .team__card:hover .team__card-header-title {
    opacity: 1;
    transition-delay: 0.15s;
    transform: none; }
  .widget_aampglobal-team-members .team__card:hover .team__card-imagery--candid {
    opacity: 1;
    transform: scale(1.1); }
