.sidebar-before {
    .widget {
        &:last-child {
            margin-bottom: 30px;
        }
    }
}

.sidebar-header {
    position: relative;
    z-index: 99;
    display: none;

    &.visible,
    &--visible {
        display: block;
    }

    .widget {
        margin-bottom: 0;
    }
}

.widget {
    margin-bottom: 1rem;

    &.widget--title-extended,
    .widget--title-extended {
        .widget {
            &__title {
                letter-spacing: 3px;

                &:after {
                    width: 250px;

                    @media screen and (max-width: 992px) {
                        width: 50%;
                        min-width: 100px;
                    }
                }
            }
        }
    }
}

@keyframes sidebar-widget-hover {
    0% {
        transform: scale(1);
    }
    15% {
        transform: scale(1.05);
    }
    92% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}