.sbv {
    .sidebar-header & {
        position: absolute;
        top: -1rem;
        right: 3rem;
        width: 70%;
        min-width: 800px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);

        &:before {
            position: absolute;
            top: -10px;
            right: 1.5rem;
            display: block;
            width: 0;
            height: 0;
            border-right: 10px transparent solid;
            border-bottom: 10px #fff solid;
            border-left: 10px transparent solid;
            content: "";
        }
    }

    .widget__title {
        margin-left: 0;
        
        &:after {
            display: none;
        }
    }

    &__photo {
        display: none;
    }

    &__form {
        width: 100%;
    }

    &__field {
        &:before {
            background-image: url(../images/loaders/small.gif);
        }

        label {
            color: $color-blue;
        }

        select {
            border-color: $color-grey;

            &:focus,
            &:active {
                border-color: $color-blue;
                color: $color-blue;
            }
        }

        &[data-field-type="make"],
        &[data-field-type="year"] {
            padding-left: 0;
        }

        &[data-field-type="button"] {
            .btn {
                border-color: $color-grey;
            }
        }
    }
}