.widget {
    &_aamp-image-button {
        height: 200px;


        & > .panel-widget-style {
            height: 100%;

            & > .so-widget-aamp-image-button {
                height: 100%;
            }

            .widget {
                &__link {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 100%;
                    text-align: center;
                    text-decoration: none;
                    color: $color-primary;
                }

                &__image {
                    height: 80%;
                    display: flex;

                    & img {
                        height: auto;
                        width: auto;
                        display: block;
                        max-height: 90%;
                        align-self: center;
                    }
                }

                &__caption {
                    display: flex;
                    height: 20%;
                    width: 100%;
                    justify-content: center;
                    font-size: 0.9375rem;
                    font-weight: normal;
                    line-height: 1rem;
                    text-align: center;
                    align-items: flex-end;
                    padding-bottom: 1rem;
                    text-transform: uppercase;
                }
            }
        }
    }
}