$color-primary: #1f355e;
$color-secondary: #55acee;

$color-blue: #1f355e;
$color-blue-light: #55acee;
$color-purple: #14026e;
$color-red-darker: #9e2126;
$color-red: #c12228;
$color-red-lighter: #cf2a31;
$color-grey-lighter: #dddddd;
$color-grey: #bababa;
$color-grey-dark: #555555;
$color-grey-verydark: #2a2a2a;
$color-grey-darkest: #151515;