.widget {
    &_aamp-vrm-category-filtering {
        background: $color-primary;
        margin-top: 2rem;
        margin-bottom: 2rem !important;
        color: #fff;
        
        .widget {
            &__title {
                position: relative;
                display: flex;
                height: 64px;
                margin-bottom: 0;
                padding: 0 0.75rem;
                font-weight: bold;
                color: #fff;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                
                &:before, 
                &:after {
                    display: none;
                }
            }

            &__content {
                background-color: $color-grey-darkest;

                .category-filter {
                    display: block;
                    padding: 2rem 1rem;
                    margin: 0;
                    list-style: none;
                    color: #fff;
                    transition: color 0.15s ease-out;

                    &--active {
                        color: $color-red;
                    }

                    &:hover {
                        color: #fff;
                    }

                    .category-filter {
                        &__item {
                            &--active {
                                & > .category-filter {
                                    &__link {
                                        &:before {
                                            border-color: $color-red;
                                            background-color: $color-red;
                                        }
                                    }
                                }
                            }
                        }

                        &__link {
                            position: relative;
                            display: block;
                            padding-left: 1.5rem;
                            color: inherit;
                            font-size: 1rem;
                            line-height: 1rem;
                            text-decoration: none;
                            text-transform: uppercase;

                            &:before {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 2px;
                                left: 4px;
                                width: 12px;
                                height: 12px;
                                border: 1px $color-grey solid;
                            }
                        }

                        &--nested {
                            margin: 0.5rem 0 0 0;
                            padding: 0 0 0 1.5rem;

                            .category-filter {
                                &__item {
                                    padding: 0.25rem 0;
                                    color: $color-grey;

                                    &--active {
                                        color: #fff;
                                    }

                                    &:hover {
                                        color: #fff;

                                        .category-filter {
                                            &__link {
                                                &:before {
                                                    border-color: #fff;
                                                }
                                            }
                                        }
                                    }
                                }

                                &__link {
                                    font-size: 0.75rem;
                                }
                            }
                        }
                    }
                }

                /* top level */
                & > .category-filter {
                    & > .category-filter {
                        &__item {
                            display: block;
                            margin: 0 0 0.5rem 0;
                            padding: 0;
                            list-style: none;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            &--all {
                                margin-bottom: 1.5rem;
                                color: $color-grey-lighter;
                            }
                        }

                        &_link {
                            &:before {
                                width: 9px;
                                height: 9px;
                                top: 4px;
                                left: 8px;
                                border-color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}