/* TODO: Refactor */
body {
    &#stores {
        & .controls {
            margin-bottom: 1rem;

            & input#addressInput,
            & select#radiusSelect,
            & select#brandSelect,
            & button {
                width: 100%;
                height: 36px;
                box-shadow: none;
                border-radius: 0;
                text-transform: uppercase;
                border-color: $color-grey;
            }

            & button {
                min-width: 0;
            }

            & .multiselect-container.dropdown-menu {
                width: 100%;
                border-radius: 0;
                border-width: 1px;
                padding-top: 0;
                padding-bottom: 0;

                & > li {
                    & > a {
                        text-decoration: none;
                        outline: none;

                        & > label {
                            margin: 0;

                            & input[type="checkbox"] {
                                position: relative;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }

        & #map {
            width: 100%;
            height: 600px;
        }

        & #stores-table {
            position: relative;
            overflow: hidden;
            margin: 50px -8px;

            & [class*='col-'] {
                & .store-inner {
                    margin: 0 0 30px 0;
                    min-height: 300px;
                    padding: 40px;
                    border: 3px #e5e5e5 solid;

                    & h2 {
                        margin: 0 0 20px 0;
                    }
                    & p {
                        text-transform: uppercase;
                        font-size: 16px;
                        line-height: 18px;
                    }
                }
            }
        }

        & .gm-style .gm-style-iw {
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            line-height: 17px;

            & a {
                display: block;
                margin-top: 5px;
                padding: 4px 0 3px 0;
                border: 1px $color-primary solid;
                text-decoration: none;
                color: $color-primary;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                line-height: 17px;
                font-size: 13px;
            }
        }
    }
}