body.category,
body.search {
    .widget {
        &-categories {
            background: $color-primary;
            color: #fff;

            .widget {
                &__title {
                    position: relative;
                    display: flex;
                    height: 64px;
                    margin-bottom: 0;
                    padding: 0 0.75rem;
                    font-weight: bold;
                    color: #fff;
                    cursor: pointer;

                    justify-content: center;

                    &.expanded {
                        &:before {
                            transform: rotate(45deg);
                        }
                    }

                    &:before,
                    &:after {
                        position: absolute;
                        display: block;
                        content: "";
                    }

                    &:before {
                        top: 18.5px;
                        right: 13.5px;
                        width: 23px;
                        height: 23px;
                        margin-right: 0.75rem;
                        transition: all 0.25s cubic-bezier(0.680, -0.550, 0.265, 1.550);
                        transform-origin: center;

                        @include plus-image(#fff);
                    }

                    &:after {
                        top: 12px;
                        right: 0.75rem;
                        width: 50px;
                        height: 40px;
                        margin: 0;
                        background: transparent;
                        border: 1px $color-grey solid;
                    }
                }

                &__content {
                    display: none;
                    background-color: $color-grey-darkest;

                    h3 {
                        display: none;
                    }

                    & .aamp-categories {
                        padding: 2rem 1rem;
                    }

                    ul {
                        display: block;
                        margin: 0;
                        padding: 0;
                        list-style: none;

                        li {
                            display: block;
                            margin: 0 0 1rem 0;
                            padding: 0;
                            list-style: none;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            &.selected {
                                & > a {
                                    color: $color-red;

                                    &:before {
                                        opacity: 1;
                                    }
                                }
                            }

                            &.expanded {
                                & > a {
                                    font-weight: normal;
                                    color: $color-red;
                                }
                            }

                            &.depth-0 {
                                ul {
                                    padding: 0.75rem 0 0 0.5rem;

                                    li {
                                        margin-bottom: 0.5rem;

                                        &:last-child {
                                            padding-bottom: 0.25rem;
                                        }

                                        &.selected {
                                            & > a {
                                                color: #fff;
                                            }
                                        }

                                        a {
                                            font-size: 0.75rem;
                                            color: $color-grey-lighter;

                                            &:before {
                                                top: 2px;
                                            }

                                            &:hover {
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                            }

                            a {
                                position: relative;
                                display: block;
                                padding-left: 52px;
                                font-size: 1rem;
                                line-height: 1rem;
                                color: #fff;
                                transition: color 0.15s ease-out;
                                text-decoration: none;
                                text-transform: uppercase;

                                &:before {
                                    position: absolute;
                                    top: 2px;
                                    left: 0;
                                    display: block;
                                    width: 32px;
                                    height: 10px;
                                    opacity: 0;
                                    content: "";
                                    transition: all 0.15s ease-out;

                                    @include arrow-image($color-red);
                                }

                                &:hover {
                                    color: $color-red;
                                }
                            }

                            ul {
                                li {
                                    ul {
                                        display: none;
                                    }

                                    &.expanded,
                                    &.selected {
                                        ul {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .aamp-categories-dropdown-wrapper {
                        display: none;
                    }
                }
            }
        }
    }
}