.filtering {
    margin: 0;

    &__sort {
        width: 65%;
        padding-right: 1.5rem;
    }

    &__show {
        width: 35%;
    }

    &__filters,
    &__range,
    &__pagination,
    &__layout {
        display: flex;
        padding: 0.5rem 1rem;
        background: #fff;
        border-right: 1px $color-grey solid;

        align-items: center;

        @media screen and (max-width: 1200px) {
            border-right: none;
        }
    }

    &__pagination {
        flex-direction: column;

        justify-content: center;

        ul.pagination {
            margin-bottom: 0;

            .page {
                &-item {
                    &.active {
                        .page-link {
                            background-color: $color-primary;
                            border-color: $color-primary;
                            color: #fff;

                            span {
                                opacity: 1;
                            }
                        }
                    }

                    &:first-child,
                    &:last-child {
                        .page-link {
                            border-radius: 0;
                        }
                    }

                    &.truncate {
                        cursor: default;

                        .page-link {
                            background-color: #fff;

                            &:focus,
                            &:hover {
                                background-color: #fff;
                            }

                            span {
                                opacity: 1;
                            }
                        }
                    }
                }

                &-link {
                    padding: 4px;
                    border-color: $color-grey;
                    font-size: 0.875rem;
                    color: $color-primary;
                    text-decoration: none;
                    letter-spacing: -1px;

                    @media screen and (max-width: 767px) {
                        padding: 8px;
                    }

                    &:focus,
                    &:hover {
                        background-color: #eee;
                        border-color: $color-grey;
                        color: $color-primary;

                        span {
                            opacity: 1;
                        }
                    }

                    span {
                        opacity: 0.5;
                    }

                    i {
                        &:before {
                            padding-right: 3px;
                            padding-left: 3px;
                            font-size: 0.625rem;
                        }
                    }
                }
            }
        }

        .product-count {
            display: none;
        }
    }

    &__show,
    &__sort {
        display: flex;

        align-items: center;

        @media screen and (max-width: 767px) {
            justify-content: center;
        }

        label {
            margin: 0 1rem 0 0;
            font-size: 0.875rem;
            font-weight: 300;
            line-height: 0.875rem;
            color: $color-grey;
            white-space: nowrap;
            text-transform: uppercase;
        }

        select {
            border: 1px $color-grey solid;
            border-radius: 0;
            outline: none;
            font-size: 0.875rem;
            line-height: 0.875rem;
            color: $color-grey;

            &:focus,
            &:active {
                border-color: $color-blue;
                outline: none;
                box-shadow: none;
            }
        }
    }

    &__range {
        justify-content: center;

        .slider {
            &.slider-horizontal {
                top: 8px;
                height: 10px;

                .slider-track {
                    height: 1px;
                    margin-top: 0;
                    background-image: none;
                    border-radius: 0;
                    box-shadow: none;
                }

                .slider-tick,
                .slider-handle {
                    margin-left: -5px;
                }
            }

            &-track-low,
            &-track-high {
                background-color: #ccc;
                background-image: none;
                border-radius: 0;
            }

            &-selection {
                background-color: $color-grey;
                background-image: none;
            }

            &-handle {
                width: 10px;
                height: 10px;
                background-color: $color-red;
                background-image: none;

                &.min-slider-handle {
                    background-color: $color-primary;
                }
            }

            .tooltip {
                left: 0 !important;
                width: 100% !important;
                margin-top: -20px !important;
                margin-bottom: 0 !important;
                margin-left: 0 !important;
                font-size: 0.6875rem;
                line-height: 0.6875rem;
                text-transform: uppercase;

                &.in {
                    opacity: 1;
                }

                &-inner {
                    width: 100%;
                    padding: 0;
                    background: transparent;
                    border-radius: 0;
                    color: $color-grey;
                    text-align: center;
                }
            }
        }
    }

    &__layout {
        border-right: none;

        justify-content: flex-end;

        @media screen and (max-width: 767px) {
            justify-content: center;
        }

        &--grid,
        &--list {
            position: relative;
            display: block;
            width: 24px;
            height: 24px;
            margin-left: 0.5rem;
            font-size: 0;
            line-height: 0;

            @media screen and (max-width: 767px) {
                width: auto;
                margin-right: 5px;
                margin-left: 5px;
                padding-left: 26px;
                font-size: 0.875rem;
                line-height: 24px;
                color: $color-grey;
                text-decoration: none;
            }

            &:hover {
                @media screen and (max-width: 767px) {
                    color: $color-primary;
                }
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 24px;
                height: 24px;
                font-size: 1.2rem !important;
                line-height: 24px !important;
                color: $color-grey;
                text-align: center;

                @include fa-icon();
            }

            &:hover,
            &.active {
                &:before {
                    color: $color-blue;
                }
            }
        }

        &--grid {
            margin-left: 0;

            &:before {
                content: $fa-var-th;
            }
        }

        &--list {
            &:before {
                content: $fa-var-th-list;
            }
        }
    }

    /* Modifiers for Search Results page */
    &--search {
        .filtering {
            &__sort {
                width: 100%;
                padding-right: 0;
            }
        }
    }
}