.products-wrap {
    margin-bottom: 1rem;

    /* list view */
    &--list {
        .products {
            display: block;

            &__tile {
                display: block;
                clear: both;
                width: 100%;
                max-width: none;

                figure {
                    display: flex;
                    overflow: hidden;
                    flex-direction: row;

                    flex-wrap: nowrap;

                    .products__tile {
                        &-image {
                            width: 150px;
                            height: auto;
                            min-height: 0;

                            a {
                                min-height: 0;

                                &:before {
                                    height: 100%;
                                    text-align: center;

                                    align-items: center;
                                }

                                &:after {
                                    display: none;
                                }
                            }
                        }

                        &-title {
                            display: block;
                            text-align: left;
                        }

                        &-meta {
                            &--price,
                            &--reference {
                                display: block;
                                clear: both;
                                text-align: left;
                            }

                            &--reference {
                                position: static;
                                margin-top: 0.25rem;
                                padding: 0;
                                background-color: transparent;
                                border: none;
                                font-size: 0.8125rem;
                                line-height: 0.8125rem;
                                color: $color-grey;
                                text-align: right;
                            }
                        }
                    }

                    figcaption {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        margin: 0;
                        padding-left: 1rem;

                        justify-content: center;
                    }
                }
            }
        }
    }
}