.product {
    margin-bottom: 2.5rem;

    &-extra {
        padding-bottom: 2.5rem;
    }

    &__images {
        padding: 2rem;
        border: 1px $color-grey solid;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__image {
        @media screen and (max-width: 992px) {
            order: 2;
        }
    }

    &__details {
        @media screen and (max-width: 992px) {
            order: 1;
            padding-bottom: 2rem;
        }

        &-controls {
            margin-bottom: 1rem;
            text-align: right;
        }

        &-title {
            margin-bottom: 1rem;

            &:after {
                width: 250px;
            }
        }

        &-meta {
            display: flex;
            margin-bottom: 2.5rem;

            align-items: center;
        }

        &-price {
            display: block;
            margin-right: 0.625rem;
            padding: 0.625rem 0.9375rem;
            background: $color-primary;
            font-size: 1.125rem;
            font-weight: 800;
            line-height: 1.125rem;
            color: #fff;
        }

        &-reference {
            display: block;
            font-size: 1rem;
            font-weight: 800;
            line-height: 1rem;
            color: $color-primary;

            &:before {
                content: "Part Number: ";
                text-transform: uppercase;
            }
        }

        &-description {
            p {
                font-size: 1rem;
                line-height: 1.625rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &:after {
                display: block;
                width: 350px;
                height: 1px;
                margin: 1.875rem 0;
                background-color: $color-grey;
                content: "";

                @media screen and (max-width: 767px) {
                    width: auto;
                }
            }
        }

        &-ordering {
            padding: 0;

            &:after {
                display: block;
                width: 350px;
                height: 1px;
                margin: 1.875rem 0;
                background-color: $color-grey;
                content: "";

                @media screen and (max-width: 767px) {
                    width: auto;
                }
            }

            &--quantity {
                display: flex;
                margin-bottom: 1.5rem;
                padding: 0 2.25rem;

                @media screen and (max-width: 767px) {
                    padding: 0;
                }

                label {
                    margin-bottom: 0;
                    padding-right: 0.75rem;
                    line-height: 2rem;
                    color: $color-primary;
                }

                input[type="number"] {
                    width: 80px;
                    height: 2rem;
                    margin-right: 0.5rem;
                    padding-right: 0;
                    padding-left: 0.75rem;
                    border: 1px #fff solid;
                    border-radius: 0;
                    font-size: 1rem;
                    font-weight: bold;
                    line-height: 1rem;
                    text-align: center;
                }
            }

            &--button {
                padding: 0 2.25rem;

                @media screen and (max-width: 767px) {
                    padding: 0;
                }

                .btn {
                    width: 100%;
                }
            }
        }
    }
}