.btn {
    min-width: 200px;
    padding: 0.75rem;
    background-color: transparent;
    border: 1px #000 solid;
    border-radius: 0;
    outline: none;
    font-family: "futura-pt", sans-serif;
    font-size: 0.825rem;
    font-weight: bold;
    line-height: 0.825rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        box-shadow: none;
    }

    &.btn-lg {
        padding: 1rem 0;
        font-size: 1rem;
        line-height: 1rem;
    }

    &.btn-inverse {
        border-color: #fff;
        color: #fff;

        &:after {
            @include arrow-image(#fff);
        }
    }

    &.btn-primary {
        border-color: $color-primary;
        color: $color-primary;

        &:after {
            @include arrow-image($color-primary);
        }
    }

    &.btn-secondary {
        background-color: $color-primary;
        border-color: $color-grey;
        font-weight: bold;
        color: #fff;

        &:hover {
            background-color: #fff;
            border-color: #fff;
            color: $color-primary;
        }
    }

    &.btn-grey {
        background-color: transparent;
        border-color: $color-grey-bright;
        font-weight: bold;
        color: $color-grey-bright;

        &:hover {
            background-color: transparent;
            border-color: $color-primary;
            color: $color-primary;
        }
    }

    &.disabled,
    &:disabled {
        opacity: 1;
        background-color: #fff;
        border-color: $color-grey;
        color: $color-grey;
        cursor: not-allowed;

        &:hover,
        &:focus,
        &:active {
            background-color: #fff;
            border-color: $color-grey;
            color: $color-grey;
        }
    }

    &.btn-circle {
        display: flex;
        width: 32px;
        min-width: 0;
        height: 32px;
        margin: 0 0.25rem;
        padding: 0;
        border: 1px $color-grey-dark solid;
        border-radius: 50%;
        color: #000;

        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #000;
            border-color: #000;
            color: #fff;
        }

        i {
            font-size: 0.625rem;
            line-height: 0.625rem;
        }
    }
}
