header.masthead {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 76px;
    background-color: $color-grey-dark;
    border-bottom: 1px $color-grey solid;
    color: #fff;

    .navbar-brand {
        width: 250px;
        margin: 0 0 0 1rem;
        padding: 0;
        text-align: left;
        text-decoration: none;

        @media screen and (max-width: 1200px) {
            width: 225px;
        }

        img {
            width: 90%;
            height: auto;

            image-rendering: -webkit-optimize-contrast;
        }
    }

    .navbar-toggler {
        @media screen and (max-width: 992px) {
            position: absolute;
            top: 14px;
            right: 1rem;
            width: 48px;
            height: 48px;
            padding: 0;
            border: 3px $color-grey solid;
            outline: none;
            cursor: pointer;
            transition: all 0.25s cubic-bezier(1, 0, 0, 1);
        }

        &-bar {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 18px;
            height: 1px;
            background: $color-grey-light;
            transition: all 0.25s cubic-bezier(1, 0, 0, 1);
            transform: translateX(-50%);

            &:first-child {
                transform: translate3d(-50%, -6px, 0);
            }

            &:last-child {
                transform: translate3d(-50%, 6px, 0);
            }

            &:nth-child(2) {
                &:before,
                &:after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    width: 18px;
                    height: 1px;
                    background: $color-grey-light;
                    content: "";
                    transition: all 0.25s cubic-bezier(1, 0, 0, 1);
                    transform: translateX(-50%);
                }

                &:before {
                    transform: translate3d(-50%, -4px, 0);
                }

                &:after {
                    transform: translate3d(-50%, 2px, 0);
                }
            }
        }

        &[aria-expanded="true"] {
            border-width: 6px;
            border-color: $color-primary;

            .navbar-toggler {
                &-bar {
                    background-color: $color-primary;

                    &:nth-child(2) {
                        opacity: 0;
                        transition: all 0.25s cubic-bezier(1, 0, 0, 1);

                        &:before,
                        &:after {
                            background-color: $color-primary;
                            transition: all 0.15s cubic-bezier(1, 0, 0, 1);
                        }

                        &:before {
                            transform: translate3d(-50%, -1px, 0);
                        }

                        &:after {
                            transform: translate3d(-50%, -1px, 0);
                        }
                    }

                    &:first-child {
                        width: 22px;
                        margin-top: 11px;
                        margin-left: -8px;
                        transition: all 0.25s cubic-bezier(1, 0, 0, 1);
                        transform: rotate(45deg) translate3d(-50%, -6px, 0);
                    }

                    &:last-child {
                        width: 22px;
                        margin-top: -4px;
                        margin-left: 1px;
                        transition: all 0.25s cubic-bezier(1, 0, 0, 1);
                        transform: rotate(-45deg) translate3d(-50%, -6px, 0);
                    }
                }
            }
        }
    }

    .navbar {
        height: 100%;
        padding: 0;

        &-collapse {
            height: 100%;

            @media screen and (max-width: 992px) {
                position: fixed;
                top: 76px;
                right: -300px;
                display: block;
                overflow-y: auto;
                width: 250px;
                height: 100%;
                opacity: 0;
                background-color: darken($color-grey-dark, 35%);
                border-left: 1px $color-grey solid;
                transition: right 0.25s ease-out, opacity 0.25s ease-out 0.25s;

                body.admin-bar & {
                    top: 76px + 32px;
                }
            }

            @media screen and (max-width: 782px) {
                body.admin-bar & {
                    top: 76px + 46px;
                }
            }

            &.show {
                @media screen and (max-width: 992px) {
                    right: 0;
                    opacity: 1;
                    transition: right 0.15s ease-out, opacity 0.15s ease-out;
                }
            }
        }

        &-nav {
            margin: 0;
            padding: 0;

            &#menu-primary-navigation {
                width: 100%;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 0.5rem;

                @media screen and (max-width: 1200px) {
                    padding-left: 0;

                    align-items: flex-end;
                }

                @media screen and (max-width: 992px) {
                    display: block;
                }

                .nav {
                    &-link {
                        padding-right: 0.5rem;
                        padding-left: 0.5rem;
                        border: 1px $color-grey-dark solid;
                        font-size: 0.875rem;
                        line-height: 0.875rem;
                        color: $color-grey-light;
                        text-decoration: none;
                        text-transform: uppercase;

                        @media screen and (max-width: 1200px) {
                            font-size: 0.825rem;
                            line-height: 0.825rem;
                        }

                        @media screen and (max-width: 992px) {
                            padding-right: 3.25rem;
                            padding-left: 1rem;
                            border: none;
                            font-size: 1rem;
                            font-weight: 600;
                            line-height: 1rem;
                        }
                    }

                    &-item {
                        position: relative;
                        margin-right: 0.25rem;
                        margin-left: 0.25rem;

                        @media screen and (max-width: 1200px) {
                            max-width: 100px;
                        }

                        @media screen and (max-width: 992px) {
                            display: block;
                            width: auto;
                            max-width: none;
                            margin: 0;
                            padding: 0;
                        }

                        .sub-menu-toggle {
                            position: absolute;
                            top: 0.25rem;
                            right: 1rem;
                            display: none;
                            width: 24px;
                            height: 24px;
                            background-size: 17px 10px !important;
                            line-height: 1rem;
                            cursor: pointer;
                            transform-origin: center center;

                            @include chevron-down-image($color-grey);

                            @media screen and (max-width: 992px) {
                                display: inline-block;
                            }

                            i {
                                display: none;
                            }
                        }

                        ul.sub-menu {
                            position: absolute;
                            top: auto;
                            left: 0;
                            display: block;
                            min-width: 200px;
                            margin: 0;
                            padding: 0;
                            opacity: 0;
                            background-color: $color-grey-dark;
                            border-top: 5px $color-primary solid;
                            border-right: 1px $color-grey solid;
                            border-bottom: 1px $color-grey solid;
                            border-left: 1px $color-grey solid;
                            list-style: none;
                            color: #fff;
                            transform: scale(0.9) translateY(-15px);
                            transform-origin: center center;
                            white-space: nowrap;
                            pointer-events: none;

                            @media screen and (max-width: 992px) {
                                position: static;
                                display: none;
                                visibility: visible;
                                min-width: 0;
                                margin-top: 0;
                                margin-bottom: 1rem;
                                opacity: 1;
                                background-color: transparent;
                                border-top: 1px $color-grey solid;
                                border-right: none;
                                border-bottom: 1px $color-grey solid;
                                border-left: none;
                                transform: none;
                                white-space: normal;
                            }

                            .nav {
                                &-item {
                                    max-width: none;
                                    margin: 0;
                                    padding: 0;

                                    &:hover,
                                    &.current-menu-item {
                                        & > .nav-link {
                                            background-color: $color-primary;
                                            border: none;
                                            color: #fff;

                                            @media screen and (max-width: 992px) {
                                                background-color: $color-grey;
                                            }
                                        }
                                    }
                                }

                                &-link {
                                    border: none;
                                    color: $color-grey-light;

                                    &:before {
                                        @media screen and (max-width: 992px) {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 1rem;
                                            height: 100%;
                                            background-color: $color-grey;
                                            content: "";
                                        }
                                    }

                                    @media screen and (max-width: 992px) {
                                        padding-right: 1.5rem;
                                        padding-left: 1.75rem;
                                        font-size: 0.875rem;
                                        font-weight: normal;
                                        line-height: 0.875rem;
                                        color: $color-grey-light;
                                    }
                                }
                            }
                        }

                        &:hover {
                            & > .nav-link {
                                border: 1px $color-primary solid;
                                color: #fff;

                                @media screen and (max-width: 992px) {
                                    border: none;
                                }
                            }

                            & > ul.sub-menu {
                                pointer-events: all;

                                @media screen and (min-width: 992px) {
                                    visibility: visible;
                                    opacity: 1;
                                    transition: all 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
                                    transform: scale(1);
                                }
                            }
                        }

                        &--expanded {
                            & > ul.sub-menu {
                                pointer-events: all;

                                @media screen and (max-width: 992px) {
                                    display: block;
                                    transition: none;
                                    transform: none;
                                }
                            }
                        }

                        &.current-menu-item,
                        &.current-menu-ancestor,
                        &.current-menu-parent {
                            & > .nav-link {
                                background-color: $color-primary;
                                color: #fff;
                            }

                            .sub-menu-toggle {
                                @include chevron-down-image(#fff);
                            }
                        }
                    }
                }
            }
        }

        &-social {
            display: flex;
            flex-direction: row;
            height: 100%;
            margin: 0;
            padding: 0 1rem;
            border-left: 1px $color-grey solid;
            list-style: none;
            white-space: nowrap;

            align-items: center;

            @media screen and (max-width: 1200px) {
                padding: 0 0.25rem;
            }

            @media screen and (max-width: 992px) {
                height: auto;
                padding: 0.5rem 1rem 0 1rem;
                border-top: 1px $color-grey solid;
                border-left: none;
            }

            & > li {
                position: relative;
                display: inline-block;
                width: 32px;
                height: 32px;
                margin: 0 0.125rem;
                padding: 0;
                list-style: none;
                color: $color-grey-light;

                @media screen and (min-width: 992px) and (max-width: 1200px) {
                    width: 24px;
                    height: 24px;
                }

                @media screen and (max-width: 992px) {
                    margin: 0;
                }

                &:before {
                    position: absolute;
                    display: block;
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    text-align: center;

                    @media screen and (min-width: 992px) and (max-width: 1200px) {
                        width: 24px;
                        height: 24px;
                        line-height: 24px;
                    }

                    @media screen and (max-width: 992px) {
                        text-align: left;
                    }
                }

                &:hover {
                    color: #fff;
                }

                & > a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 32px;
                    height: 32px;
                    font-size: 0;
                    line-height: 0;

                    @media screen and (min-width: 992px) and (max-width: 1200px) {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }

    + main.site-content {
        padding-top: 76px;
    }
}