.list__columns {
    &--two,
    &--two-unstyled,
    &--three,
    &--three-unstyled {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }

    &--two,
    &--three {
        &-unstyled {
            list-style: none;

            & > li {
                display: block;
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }
    }

    &--two,
    &--two-unstyled {
        columns: 2;
    }

    &--three,
    &--three-unstyled {
        columns: 3;
    }
}

.list__styled {
    padding: 0;
    list-style: none;

    & > li {
        position: relative;
        padding-right: 0;
        padding-left: 1.25rem;

        &:before {
            position: absolute;
            top: 2px;
            left: 0;
            font-size: 75% !important;
            line-height: inherit !important;
            content: $fa-var-check;

            @include fa-icon();
        }
    }
}