.loader {
    &[data-static-loader="true"] {
        position: relative;
        top: 50%;
        left: 50%;
        display: block;
        width: 75px;
        height: 75px;
        margin: 0 0 0 -37.5px;
        border: 2px solid transparent;
        border-top-color: $color-primary;
        border-radius: 50%;
        -webkit-animation: spin 2s linear infinite;
                animation: anim-static-loader-spin 2s linear infinite;

        &:before,
        &:after {
            position: absolute;
            border-radius: 50%;
            content: "";
        }

        &:before {
            top: 5px;
            right: 5px;
            bottom: 5px;
            left: 5px;
            border: 1px solid transparent;
            border-top-color: lighten($color-primary, 15%);
            -webkit-animation: anim-static-loader-spin 3s linear infinite;
                    animation: anim-static-loader-spin 3s linear infinite;
        }

        &:after {
            top: 10px;
            right: 10px;
            bottom: 10px;
            left: 10px;
            border: 2px solid transparent;
            border-top-color: lighten($color-primary, 50%);
            -webkit-animation: anim-static-loader-spin 1.5s linear infinite;
                    animation: anim-static-loader-spin 1.5s linear infinite;
        }
    }
}

@-webkit-keyframes anim-static-loader-spin {
    0% {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes anim-static-loader-spin {
    0% {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}