.page {
    &-heading {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 160px;
        padding: 3rem 0;
        background-color: #000;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        color: #fff;

        align-items: center;
        justify-content: center;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.25);
            content: "";
        }
    }

    &-title,
    &-section {
        position: relative;
        z-index: 10;
    }

    &-title {
        display: block;
        max-width: 75%;
        margin: 0;
        padding: 0;
        font-size: 3rem;
        font-weight: bold;
        line-height: 3rem;
        color: #fff;
        text-align: center;
        letter-spacing: 5px;
        text-transform: uppercase;

        @media screen and (max-width: 767px) {
            font-size: 2rem;
            line-height: 2rem;
        }

        @media screen and (max-width: 576px) {
            font-size: 1.5rem;
            line-height: 1.5rem;
        }
    }

    &-subtitle {
        display: block;
        max-width: 65%;
        margin: 0.25rem 0 0 0;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.125rem;
        color: $color-grey-bright;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;

        strong {
            color: #fff;
        }
    }
}