.sidebar {
    .widget {
        margin: 0 0 1rem 0;
        padding: 0;
        border: 1px $color-primary solid;

        &__title {
            padding: 1rem;
            background-color: $color-primary;
            font-size: 1rem;
            line-height: 1rem;
            color: #fff;
        }
    }
}