.widget {
    &_aamp-vrm-search {
        .vrm-search {
            padding: 1.5rem 0 1rem 0;
            background-color: #000;
            color: #fff;

            .widget__title {
                color: #fff;
                text-align: center;

                align-items: center;

                &:before,
                &:after {
                    display: none;
                }
            }

            &__fields {
                display: flex;
                margin: 0;
                padding: 0 1rem;
                list-style: none;
            }

            &__input {
                display: flex;
                width: 100%;

                input {
                    width: 100%;
                    height: 40px;
                    padding: 0 1rem;
                    border: 1px #fff solid;
                    color: #000;
                    text-align: center;
                    text-transform: uppercase;
                }
            }

            &__button {
                display: flex;
                width: 44px;

                .btn {
                    width: 100%;
                    min-width: 0;
                    height: 40px;
                    padding: 0;

                    &:before,
                    &:after {
                        display: none;
                    }

                    i {
                        font-size: 1.25rem;
                        font-weight: normal;
                        line-height: 38px;
                    }
                }
            }
        }
    }
}