.widget {
    &-categories {
        background: $color-primary;
        color: #fff;

        .widget {
            &__title {
                position: relative;
                display: flex;
                height: 64px;
                margin-bottom: 0;
                padding: 0 0.75rem;
                font-weight: bold;
                color: #fff;
                cursor: pointer;

                justify-content: center;

                &.expanded {
                    &:before {
                        transform: rotate(45deg);
                    }
                }

                &:before,
                &:after {
                    position: absolute;
                    display: block;
                    content: "";
                }

                &:before {
                    top: 18.5px;
                    right: 13.5px;
                    width: 23px;
                    height: 23px;
                    margin-right: 0.75rem;
                    transition: all 0.25s cubic-bezier(0.680, -0.550, 0.265, 1.550);
                    transform-origin: center;

                    @include plus-image(#fff);
                }

                &:after {
                    top: 12px;
                    right: 0.75rem;
                    width: 50px;
                    height: 40px;
                    margin: 0;
                    background: transparent;
                    border: 1px $color-grey solid;
                }
            }

            &__content {
                background-color: $color-grey-darkest;

                &.category-filtering {
                    ul {
                        display: block;
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        color: #fff;
                        transition: color 0.15s ease-out;

                        li {
                            display: block;
                            margin: 0 0 0.5rem 0;
                            padding: 0;
                            list-style: none;

                            &:hover {
                                & > a {
                                    color: #fff;

                                    &:before {
                                        border-color: #fff;
                                    }
                                }
                            }

                            &.category-all {
                                margin-bottom: 1.5rem;
                                color: $color-grey-lighter;
                            }

                            &.selected,
                            &.selected:hover {
                                & > a {
                                    &:before {
                                        background-color: $color-red;
                                        border-color: $color-red;
                                    }
                                }
                            }

                            a {
                                position: relative;
                                display: block;
                                padding-left: 1.5rem;
                                color: inherit;
                                font-size: 1rem;
                                line-height: 1rem;
                                text-decoration: none;
                                text-transform: uppercase;

                                &:before {
                                    top: 2px;
                                    left: 4px;
                                    display: block;
                                    position: absolute;
                                    width: 12px;
                                    height: 12px;
                                    opacity: 1;
                                    border: 1px $color-grey solid;
                                    content: '';
                                }
                            }

                            ul {
                                margin: 0.5rem 0 0 0;
                                padding: 0 0 0 1.5rem;

                                li {
                                    padding: 0.25rem 0;
                                    margin-bottom: 0;
                                    color: $color-grey;

                                    a {
                                        font-size: 0.75rem;
                                    }

                                    ul {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }

                    & > ul {
                        padding: 2rem 1rem;

                        ul {
                            padding-top: 0.75rem;
                        }
                    }
                }
            }
        }
    }
}