.aamp-sbv-filter {
    margin: 1.5rem 0 1rem 0;

    label {
        font-weight: bold;
        color: $color-primary;
    }
    select {
        border: 1px $color-primary solid;
        border-radius: 0;
    }
}