body {
    &#module-aampsearchbyvehicle-results {
        .aamp-sbv {
            .aamp-sbv--search,
            .aamp-sbv--search.open {
                & > header {
                    margin-bottom: 20px;
                    border-bottom: none;

                    & > h3 {
                        align-items: center;

                        &:after {
                            top: 0;
                            font-size: 0;
                            line-height: 0;
                            content: "";
                            transform: none;
                        }
                    }
                }

                & > .aamp-sbv--searchtool {
                    display: flex;

                    .aamp-sbv--searchtool__preview {
                        & > figure {
                            .aamp-sbv--searchtool__image {
                                border-color: #fff;
                                border-radius: 0;
                            }
                        }
                    }

                    .aamp-sbv--searchtool__fields {
                        .row {
                            .form-group {
                                .form-control {
                                    border: 1px #fff solid;
                                    border-radius: 0;
                                }
                            }

                            button[type="submit"] {
                                min-width: 0;
                                margin-top: 28px;
                                padding-top: 11px;
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }

        .aamp-sbv--results-header {
            display: block;
            margin-bottom: 0;
            font-size: 1.25rem;
            line-height: 1.25rem;

            &:after {
                display: none;
            }

            small {
                font-size: 0.875rem;
                color: #777;
            }
        }

        .aamp-sbv-group {
            .aamp-sbv-group-products {
                padding: 0 2rem;
            }

            .aamp-sbv-group-header {
                background-color: $color-primary;

                .aamp-sbv-group-breadcrumb {
                    background-color: #555;
                    background-image: url(../images/bg-header-tile.png);
                    background-repeat: repeat;
                    border: 1px #295f88 solid;
                }
            }
        }
    }
}