.video-tile-carousel {
    position: relative;
    margin-bottom: 60px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: 1px $color-grey solid;

    .slick {
        &-arrow {
            top: auto;
            bottom: -70px;

            &.slick {
                &-prev {
                    left: -1px;
                }

                &-next {
                    right: -1px;
                }
            }
        }
    }
}