/* <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 14"><g id="4477438a-178c-40f4-8fb1-d45516aaadc1"><line y1="7" x2="90.47" y2="7" fill="none" stroke="color" stroke-miterlimit="10" stroke-width="2"/></g><g id="549ff169-4738-4229-8f26-7454b3c484d2"><polygon points="96 7 86.45 0 86.45 14 96 7" fill="color"/></g></svg> */
@mixin arrow-image($color) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 96 14'%3e%3cg id='4477438a-178c-40f4-8fb1-d45516aaadc1'%3e%3cline y1='7' x2='90.47' y2='7' fill='none' stroke='#{svg-color($color)}' stroke-miterlimit='10' stroke-width='2'/%3e%3c/g%3e%3cg id='549ff169-4738-4229-8f26-7454b3c484d2'%3e%3cpolygon points='96 7 86.45 0 86.45 14 96 7' fill='#{svg-color($color)}'/%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 36px auto;
}

/* <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 23"><line x1="11.5" x2="11.5" y2="23" fill="none" stroke="color" stroke-miterlimit="10"/><line x1="23" y1="11.5" y2="11.5" fill="none" stroke="color" stroke-miterlimit="10"/></svg> */
@mixin plus-image($color) {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 23'%3e%3cline x1='11.5' x2='11.5' y2='23' fill='none' stroke='#{svg-color($color)}' stroke-miterlimit='10'/%3e%3cline x1='23' y1='11.5' y2='11.5' fill='none' stroke='#{svg-color($color)}' stroke-miterlimit='10'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 23px 23px;
}

/* <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.14 12.5"><polyline points="0.56 0.49 10.07 11.36 19.58 0.49" fill="none" stroke="color" stroke-miterlimit="10" stroke-width="1.5"/></svg> */
@mixin chevron-down-image($color) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20.14 12.5'%3e%3cpolyline points='0.56 0.49 10.07 11.36 19.58 0.49' fill='none' stroke='#{svg-color($color)}' stroke-miterlimit='10' stroke-width='1.5'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 21px 13px;
}

/* <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.78 28.86"><circle cx="10.94" cy="10.94" r="10.04" fill="none" stroke="color" stroke-miterlimit="10" stroke-width="1.79"/><line x1="27.15" y1="28.23" x2="17.48" y2="18.56" fill="none" stroke="color" stroke-miterlimit="10" stroke-width="1.79"/></svg> */
@mixin search-icon($color) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27.78 28.86'%3e%3ccircle cx='10.94' cy='10.94' r='10.04' fill='none' stroke='#{svg-color($color)}' stroke-miterlimit='10' stroke-width='1.79'/%3e%3cline x1='27.15' y1='28.23' x2='17.48' y2='18.56' fill='none' stroke='#{svg-color($color)}' stroke-miterlimit='10' stroke-width='1.79'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 26px 27px;
}