.widget {
    &_aamp-custom-headline {
        .section-title {
            &__subtitle {
                display: block;
                margin: 0.5rem 0;
                font-weight: normal;
                font-size: 1rem;
                text-transform: none;
            }
        }
    }
}