.widget {
    &_aamp-product-search {
        .widget {
            &__form {
                input[type="text"] {
                    width: 60%;
                    height: auto;
                    padding: 0 1rem;
                    border-top: 1px #000 solid;
                    border-bottom: 1px #000 solid;
                    border-left: 1px #000 solid;
                    border-right: none;
                    border-radius: 0;
                    font-size: 0.875rem;
                    font-family: "Roboto", sans-serif, sans-serif;
                    line-height: 34px;
                }

                .btn {
                    width: 40%;
                    clear: none;
                    min-width: 0;
                }
            }
        }
    }
}